                        /* members styles */
.profile-content {
  margin-top: 1vh;
  min-height: 430px;
}
.profile-content .left {
  position: static;
}
                     /*profile creation syles*/

#mainContainer.middle {
    width: calc(250px + 20vw);
}
/*text input styles*/
.inline-field .form-control{
  display:inline-block;
  width:100%;
  text-align:left;
  padding:3px 0px
}
.form-control{
  padding-top:4px;
  padding-bottom:4px;
}
.inline-field .form-control{
  display:inline;
  width:53%;
  text-align:left;
}
select.form-control:not([size]):not([multiple]) {
    height:30px;
}
.error{
  color:red;
  display:inline;
}
/*label styles*/
.profile-container label{
  margin-top:0.25rem;
  margin-right:5px;
}
.asteriskField{
  display:none;
}
                    /*profile detail styles*/
/*label styles*/
.field-label{
  margin-top:0.25rem;
  margin-bottom:8px;
}
.field-label-third{
  margin:4px 5px 8px 0px;
  display:inline-block;
}
/*Value styles*/
.field-value-container{
  padding:0px 15px;
}
.field-value-container-third{
  padding:4px 13px;
  display:inline-block;
  text-align:left;
}
.field-value-sub-container{
  padding:4px 13px
}
.field-value{
  margin-bottom:4px;
}
.no-info {
  margin: auto;
  padding: calc(20px + 2vw);
  font-size: calc(15px + 0.3vw);
  width: fit-content;
}
/*.scroll{
  height:15rem;
  overflow:auto;
} */

.inactive-slide {
  position: absolute;
  z-index:1;
  left:-100%;
  transition:1s;
  margin:0px;
}
.icon-btn {
  border:none;
  background:none;
  outline: none;
}
button:focus {
  outline:0;
}

            /*Profile Search Styles*/

#profile_search_content {
  overflow-y: scroll;
  height: 88vh;
  min-width: 350px;
  min-height: 430px;
}
#filter_by {
}
#filter_input {
}
#list_select {
  width : 50%;
  border: 1px solid #6c757d;
}
#result-list {
}
#filter_submit {
  margin-left: 10px;
}
#list_select {
  width:80%;
}

#tool_container {
  padding: 5px 0;
}
#tool_container .inputs {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
}
@media screen and (max-width: 850px) {
    #tool_container .inputs {
        flex-flow: column nowrap;
    }
}
#tool_container .inputs p {
    width: calc(45px + 3vw);
    margin: 8px;
}
#tool_container .inputs .input {
  display: flex;
  flex-flow: row;
  align-items: center;
}
#tool_container .inputs select,
#tool_container .inputs input {
  height: fit-content;
  width: calc(45px + 5vw);
  font-size: calc(8px + 0.3vw);
}
#data_container p {
  align-self: flex-start;
}
#add_data_btn,
#data_delete_btn_container {
 align-self: flex-start;
 margin: 8px;
}
#tool_container .btn-container {
  margin-left: auto;
  margin-right: calc(5px + 1vw);
  margin-top: 5px;
}
#tool_container button {
  font-size: calc(8px + 0.3vw);
  justify-self: flex-end;
  margin: 1px;
}
#filter_list {
    display: flex;
    flex-flow: row wrap;
}

#list_title {
  position:relative;
  display:inline-block;
}

#create_profile {
    width: 100%;
}
#profile_container {
    margin: 0;
}
#profile_container .col-6 {
    padding-left: 0;
}
#profile_container a,
#create_profile a {
    font-size: calc(12px + 0.3vw);
    padding-left: calc(5px + 2vw);
}
