{% extends "dashboard/base.html" %}
{% load crispy_forms_tags %}

<!--------------- Nav Bar ------------------->

{% block tabs %}
  <link rel="stylesheet" type="text/css" href='/static/meetings/css/meetings.css'>

  <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
  <li><a href="{% url 'profiles' %}">Members</a></li>
  <li class="active"><a href="{% url 'meetings' %}">Meetings</a></li>
  <li><a href="#">Training</a></li>
  <li><a href="#">Progress</a></li>
{% endblock tabs %}

{% block app_tabs %}
{% endblock app_tabs %}

<!------------------------------------------->

{% block content %}
{% endblock content %}

{% block js %}
{% endblock js %}