<div id="{{ id }}" class="calendar">
    <div class="calendar-header">
        <div class="month-selector">
            <a href="#" class="fas fa-long-arrow-alt-left blacklink"></a>
            <h3 class="month"></h3>
            <a href="#" class="fas fa-long-arrow-alt-right blacklink"></a>
        </div>
        <p class="year"></p>
    </div>
    <ul class="day-labels border-bottom border-top">
        <li>SUN
        <li>MON
        <li>TUE
        <li>WED
        <li>THU
        <li>FRI
        <li>SAT
    </ul>
    <div class="load-container">
        <div class="days-container">
        </div>
        <div class="loading" style="display: none;">
            <div class="center">
                <div class="spinner"></div>
            </div>
        </div>
    </div>
</div>
