<div id="meeting_info_container">
  <form id="meeting_form">
    {% csrf_token %}
    {{ form.site.as_hidden }}
    {{ form.start_time.as_hidden }}
    {{ form.end_time.as_hidden }}
    {{ form.lists }}
    {{ form.attendees }}
    {{ form.programming }}
    {{ form.modules }}
    {{ form.color.as_hidden }}
    {{ form.links.as_hidden }}
    {{ form.modules_to_attendees.as_hidden }}
    {{ form.non_attendees }}
    {{ form.attendance_required.as_hidden }}
    <i id="meeting_back_btn" class="fas fa-times back blacklink"></i>
    <div id="meeting_header">
      {% include 'meetings/meeting_type_select.html' %}
      <i id="meeting_delete_btn" class="far fa-trash-alt text-small d-inline-block blacklink"></i>
      {% include 'dashboard/color_select.html' with id='meeting_color' %}
    </div>
    <div id="datetime_container">
      {% include 'dashboard/date_picker.html' with id='meeting_date' %}
      {% include 'dashboard/time_picker.html' with id='meeting_time' %}
    </div>
    <div id="meeting_content">
      <table>
        <tr>
          <td>
            <p class="label">Site:</p>
          </td>
          <td class="field">
            <div id="meeting_site_select" class="multi-level-dropdown"></div>
          </td>
        </tr>
        <tr>
          <td>
            <p class="label">Address:</p>
          </td>
          <td class="field">
            {{ form.location }}
          </td>
        </tr>
        <tr>
          <td class="label dropdown-label">
            <p>Programming:</p>
          </td>
          <td class="field">
            <div id="programming_select" class="object-select"></div>
          </td>
        </tr>
        <tr>
          <td class="label dropdown-label">
            <p>Training:</p>
          </td>
          <td class="field">
            <div id="training_select" class="object-select"></div>
          </td>
        </tr>
      </table>
      {{ form.notes }}
      <div id="file_input" class="file-input"></div>
      <div id="link_input" class="link-input"></div>
      <div class="buttons update">
        <button id="meeting_submit_btn" class="btn btn-outline-secondary" data-pk="0" type="button">Save</button>
        <button class="attendance-btn btn btn-outline-secondary" type="button">Attendance</button>
      </div>
      <div class="buttons detail">
        <button id="update_btn" class="btn btn-outline-secondary" type="button">Edit</button>
        <button class="attendance-btn btn btn-outline-secondary" type="button">Attendance</button>
      </div>
    </div>
  </form>
  <div class="loading" style="display:none;">
    <div class="center">
      <div class="spinner"></div>
    </div>
  </div>
</div>
