{% extends "meetings/base.html" %}
{% load static %}

{% block app_tabs %}
  <ul class="sub_tags bg-blue">
    <li><a class='black sub_tabs' href="{% url 'meetings' %}">Meetings</a></li>
  </ul>
{% endblock app_tabs %}

{% block content %}
<div id="content_container">
  {% include 'meetings/meeting_info.html' with form=form.0 %}
  <div id="meeting_confirm_delete" class="shadow confirm-delete" style="display:none">
    <h5>Delete Meeting</h5>
    <button class="delete-btn btn btn-danger text-small">Delete</button>
    <button class="cancel-btn btn btn-secondary text-small">Cancel</button>
  </div>
  <div id="file_confirm_delete" class="shadow confirm-delete" style="display:none">
    <h5>Delete File</h5>
    <button class="delete-btn btn btn-danger text-small" data-pk="0">Delete</button>
    <button class="cancel-btn btn btn-secondary text-small">Cancel</button>
  </div>
  <div id="attendance_container">
    <a id="attendance_back_btn" class="fas fa-times back blacklink" href="#"></a>
    <div id="lists_container">
      <div id="list_select" class="list-select custom-select flex">
        <p class="flex-center">Select Lists</p>
      </div>
      <div class="lists shadow">
      </div>
    </div>
    <div class="break mb-4"></div>
    <div id="people_select">
    </div>
    <div class="loading" style="display: none;">
      <div class="center">
        <div class="spinner"></div>
      </div>
    </div>
  </div>

  <div id="calendar_content" class="content-section shadow p-0 mb-4">
    <a id="menu_btn" class="fas fa-bars blacklink" href="#"></a>
    <div id="menu">
      <a href="#" class="fas fa-times back blacklink"></a>
      <h3>Sites</h3>
      {% include 'dashboard/site_select.html' with id='menu_site_select' type='checkbox' chapters=site_access %}
    </div>
    {% include 'meetings/calendar.html' with id='calendar' %}
  </div>
  {% include 'dashboard/attach_link_modal.html' %}
</div>
{{ form.1|json_script:"form_fields" }}
{% endblock content %}

{% block js %}

<!--<script src="{% static 'meetings/js/meetings.js' %}"></script>-->
<script>
  var form_fields = JSON.parse($('#form_fields').text());
  var url_meeting_post = '{% url 'post-meeting-info' 0 %}';
</script>
<script src="{% static 'meetings/js/new_meeting.js' %}"></script>
{% endblock js %}