{% extends "meetings/base.html" %}
{% load static %}

{% block app_tabs %}
  <ul class="sub_tags bg-blue">
    <li><a class='black sub_tabs' href="{% url 'meetings' %}">Meetings</a></li>
  </ul>
{% endblock app_tabs %}

{% block content %}
<div id="content_container">
  <div id="meeting_container">
    {% include 'meetings/meeting_info.html' with form=form.0 %}
    {% include 'meetings/attendance_info.html' %}
    <div class="spacer"></div>
  </div>
  <div id="calendar_content" class="content-section shadow p-0 mb-4">
    <i id="menu_btn" class="fas fa-bars blacklink"></i>
    <div id="menu">
      <i class="fas fa-times back blacklink"></i>
      <div class="menu-header"><h3>Sites</h3></div>
      {% include 'dashboard/site_select.html' with id='menu_site_select' type='checkbox' chapters=site_access %}
    </div>
    {% include 'meetings/calendar.html' with id='calendar' %}
  </div>
  {% include 'dashboard/attach_link_modal.html' %}
  {% include 'dashboard/modal.html' with id='modal' %}
</div>
{{ form.1|json_script:"form_fields" }}
{% endblock content %}

{% block js %}

<script>
  var form_fields = JSON.parse($('#form_fields').text());
  var url_get_members = '{% url 'get-members' %}';
  var url_meeting_post = '{% url 'post-meeting-info' 0 %}';
  var url_get_meeting_info = '{% url 'get-meeting-info' %}';
  var url_delete_meeting = '{% url 'delete-meeting' 0 %}';
  var url_profile_detail = '{% url 'profile-detail' 0 %}'
  var url_filtersets = '{% url 'filtersets' %}';
  var url_learning_models = '{% url 'learning-models' %}';
  var url_learning = '{% url 'learning' %}';
</script>
<!--<script src="{% static 'meetings/js/meetings.js' %}"></script>-->
<script src="{% static 'meetings/js/meetings.js' %}"></script>
{% endblock js %}
