{% extends 'learning/base.html' %}
{% load static %}

{% block app_tabs %}
<ul class="sub_tags bg-blue" xmlns:style="http://www.w3.org/1999/xhtml" xmlns:style="http://www.w3.org/1999/xhtml">
    <li class=""><a class="black sub_tabs" href="{% url 'learning' %}">Learning</a></li>
</ul>
{% endblock %}

{% block content %}
<div id="main_container" class="shadow container">
    <i id="menu_btn" class="fas fa-bars blacklink"></i>
    <div id="header" class=" border-bottom">
        <div id="learning_type_select" class="multi-level-dropdown">

        </div>
<!--        <h3 class="title">-->
<!--            Winter Garden Training-->
<!--        </h3>-->
    </div>
    <div id="content">
        <div class="left">
            <div class="loading" style="display:none;">
                <div class="center">
                    <div class="spinner"></div>
                </div>
            </div>
            <ul id="items">
            </ul>
        </div>
        <div class="right">
            <div class="mt-4">
                <button id="create_programming" class="btn btn-outline-secondary" type="button">+ Program</button>
                <button id="create_theme" class="btn btn-outline-secondary" type="button">+ Theme</button>
                <button id="create_module" class="btn btn-outline-secondary" type="button">+ Module</button>
            </div>
        </div>
        {% for form in forms %}
            {% include 'learning/learning_info.html' with type=form.0 form=form.1 %}
        {% endfor %}
    </div>
    <div id="menu">
        <i class="fas fa-times back blacklink"></i>
        <div class="menu-header"><h3>Sites</h3></div>
        {% include 'dashboard/site_select.html' with id='menu_site_select' type='radio' chapters=sites %}
    </div>
</div>
{% include 'dashboard/modal.html' with id='modal' %}
{% include 'dashboard/attach_link_modal.html' %}
{% include 'learning/add_member_modal.html' %}

{% endblock %}

{% block js %}
{{ sites|json_script:"user_sites" }}
{{ positions|json_script:"role_positions" }}
{{ forms.0.2|json_script:"programming_fields" }}
{{ forms.1.2|json_script:"theme_fields" }}
{{ forms.2.2|json_script:"module_fields" }}
<script>
    // Pass template variables into js file
    var user_sites = JSON.parse($('#user_sites').text());
    var role_positions = JSON.parse($('#role_positions').text());
    var form_fields = {
        'programming': JSON.parse($('#programming_fields').text()),
        'theme': JSON.parse($('#theme_fields').text()),
        'module': JSON.parse($('#module_fields').text()),
    };
    var url_learning = "{% url 'learning' %}";
    var url_meetings = "{% url 'meetings' %}";
    var url_learning_models = "{% url 'learning-models' %}";
    var url_members_completed = "{% url 'members-completed' %}";
    var url_schedule = "{% url 'learning-schedule' %}";
    var url_profile_detail = "{% url 'profile-detail' pk=0 %}";
    var url_get_profiles = "{% url 'get-profiles' %}";
</script>
<script src="{% static 'learning/js/learning.js' %}"></script>
{% endblock %}
