<div id="{{ type }}_info" class="item-info">
    <div class="loading" style="display: none;">
        <div class="center">
            <div class="spinner"></div>
        </div>
    </div>
    <a href="#" class="info back fas fa-times"></a>
    <div class="title border-bottom">
        <h6 class="title-text"></h6>
        <a href="#" class="edit-btn far fa-edit blacklink" style="display: none;"></a>
        <a href="#" class="delete-btn far fa-trash-alt blacklink"></a>
    </div>
    <div class="content">
        <div id="{{ type }}_detail" class="detail fields-container">
            <table class="fields-table">
                <!-- JS --->
                <tr class="field-row">
                    <td class="label">Site:</td>
                    <td class="field">Winter Garden</td>
                </tr>
                <tr class="field-row">
                    <td class="label">Theme:</td>
                    <td class="field">Bridges Out of Poverty</td>
                </tr>
                <tr class="field-row">
                    <td class="label">Title:</td>
                    <td class="field">Hidden Rules</td>
                </tr>
                <tr class="field-row">
                    <td class="label">Length:</td>
                    <td class="field">1 Hour</td>
                </tr>
                <tr class="field-row">
                    <td class="label">Required For:</td>
                    <td class="field">Circle Leaders</td>
                </tr>
                <tr class="field-row">
                    <td class="label">Description:</td>
                    <td class="field">Training for circles leaders with extremely important long very long information it'll be a fun time this is long.</td>
                </tr>
                <tr class="field-row">
                    <td class="label">Facilitators:</td>
                    <td class="field">John Doe, Nick Witten</td>
                </tr>
                <tr class="field-row">
                    <td class="label">Links:</td>
                    <td class="field"></td>
                </tr>
                <tr class="field-row">
                    <td class="label">Files:</td>
                    <td class="field"></td>
                </tr>
                <!-- END JS -->
            </table>
        </div>
        <div id="{{ type }}_update" class="update fields-container" style="">
            <form id="{{ type }}_form">
                {% csrf_token %}
                <table class="fields-table">
                    <tr class="field-row">
                        {{ form.site.as_hidden }}
                        <td class="label"><p>Site:</p></td>
                        <td class="field site-select">
                            <div id="{{ type }}_site_select" class="multi-level-dropdown"></div>
                        </td>
                    </tr>
                    {% if type == 'module' %}
                    <tr class="field-row">
                        {{ form.theme.as_hidden }}
                        <td class="label"><p>Theme:</p></td>
                        <td class="field">
                            <div id="{{ type }}_theme_select" class="dropdown">
                            </div>
                        </td>
                    </tr>
                    {% endif %}
                    <tr class="field-row">
                        <td class="label"><p>Title:</p></td>
                        {{ form.title.as_hidden }}
                        <td class="field">
                            <div id="{{type}}_title_input" class="autocomplete-input"></div>
                        </td>
                    </tr>
                    {% if type == 'module' or type == 'theme' %}
                    <tr class="field-row">
                        {{ form.required_for.as_hidden }}
                        <td class="label"><p>Required for:</p></td>
                        <td class="field">
                            <div id="{{ type }}_required_select" class="dropdown"></div>
                        </td>
                    </tr>
                    {% endif %}
                    {% if type == 'module' or type == 'programming' %}
                    <tr class="field-row">
                        <td class="label"><p>Length:</p></td>
                        <td class="field">
                            {{ form.length }}
                        </td>
                    </tr>
                    <tr class="field-row">
                        {{ form.facilitators.as_hidden }}
                        <td class="label top"><p class="pt-1">Facilitators:</p></td>
                        <td id="{{ type }}_facilitator_input" class="field facilitators">
                            <div class="autocomplete-input">
                            </div>
                            <div class="facilitator-list">
                            </div>
                        </td>
                    </tr>
                    <tr class="field-row">
                        <td class="label top"><p class="pt-1">Description:</p></td>
                        <td class="field">
                            {{ form.description }}
                        </td>
                    </tr>
                    {% endif %}
                </table>
                {% if type == 'module' or type == 'programming' %}
                <div class="load-container field-row">
                    <div id="{{ type }}_file_input" class="file-input">
                    </div>
                </div>
                {{ form.links.as_hidden }}
                <div id="{{ type }}_link_input" class="link-input field-row">
                </div>
                {% endif %}
                <div class="flex j-center">
                    <a href="#" class="edit-more-btn text-small btn btn-outline-secondary" style="display: None;">Edit More Fields</a>
                </div>
            </form>
            <div class="btn-container">
                <div class="">
                    <a href="#" class="more-info btn text-small btn-outline-secondary mb-1">More Info</a>
                </div>
                <a href="#" class="save-btn btn btn-outline-secondary mb-1 text-small">Save</a>
            </div>
        </div>
    </div>
    <div id="{{ type }}_info_popup" class="info-popup">
        <div class="loading" style="display: none;">
            <div class="center">
                <div class="spinner"></div>
            </div>
        </div>
        <a href="#" class="more-info back fas fa-times"></a>
        <div class="header border-bottom">
            {% if type == 'module' or type == 'theme' %}
            <a href="#" class="members-completed-btn header-btn active blacklink">Members Completed</a>
            {% endif %}
            {% if type == 'module' or type == 'programming' %}
            <a href="#" class="schedule-btn header-btn blacklink">Schedule</a>
            {% endif %}
        </div>
        <div class="content">
            <div class="members-completed">
                <div class="profiles">
                    <table>
                        <tr>
                            <th class="name label"><p class="label">Name</p></th>
                            <th class="date label"><p class="label">Date Completed</p></th>
                        </tr>
                        <tr>
                            <td class="name"><p>Nicholas Witten</p></td>
                            <td class="date"><p>07/30/2020</p></td>
                        </tr>
                        <tr>
                            <td class="name"><p>Nicholas Witten</p></td>
                            <td class="date"><p>07/30/2020</p></td>
                        </tr>
                        <tr>
                            <td class="name"><p>Nicholas Witten</p></td>
                            <td class="date"><p>07/30/2020</p></td>
                        </tr>
                        <tr>
                            <td class="name"><p>Nicholas Witten</p></td>
                            <td class="date"><p>07/30/2020</p></td>
                        </tr>
                        <tr>
                            <td class="name"><p>Nicholas Witten</p></td>
                            <td class="date"><p>07/30/2020</p></td>
                        </tr>
                        <tr>
                            <td class="name"><p>Nicholas Witten</p></td>
                            <td class="date"><p>07/30/2020</p></td>
                        </tr>
                        <tr>
                            <td class="name"><p>Loooooooooooong Naaaaaaaaaame</p></td>
                            <td class="date"><p>07/30/2020</p></td>
                        </tr>
                        <tr>
                            <td class="name"><p>Loooooooooooongeeeeeeeeeeeeeeeeeeeeeer Naaaaaaaaaame</p></td>
                            <td class="date"><p>07/30/2020</p></td>
                        </tr>
                        <tr>
                            <td class="name"><p>Nicholas Witten</p></td>
                            <td class="date"><p>07/30/2020</p></td>
                        </tr>
                        <tr>
                            <td class="name"><p>Nicholas Witten</p></td>
                            <td class="date"><p>07/30/2020</p></td>
                        </tr>
                        <tr>
                            <td class="name"><p>Nicholas Witten</p></td>
                            <td class="date"><p>07/30/2020</p></td>
                        </tr>
                    </table>
                </div>
                <div class="buttons">
                    <a href="#" class="add-member-btn btn btn-outline-secondary text-small">Add Member</a>
                    <a href="#" class="remove-member-btn btn btn-outline-secondary text-small">Remove Member</a>
                </div>
            </div>
            <div class="schedule">

            </div>
        </div>
    </div>
</div>
