<div id="{{ type }}_info" class="item-info">
    <div class="loading" style="display: none;">
        <div class="center">
            <div class="spinner"></div>
        </div>
    </div>
    <a href="#" class="back fas fa-times"></a>
    <div class="title border-bottom">
        <h6 class="title-text"></h6>
        <a href="#" class="edit-btn far fa-edit blacklink"></a>
    </div>
    <div class="content">
        <div id="{{ type }}_detail" class="detail fields-container">
            <table class="fields-table">
                <!-- JS --->
                <tr>
                    <td class="label">Site:</td>
                    <td class="field">Winter Garden</td>
                </tr>
                <tr>
                    <td class="label">Theme:</td>
                    <td class="field">Bridges Out of Poverty</td>
                </tr>
                <tr>
                    <td class="label">Title:</td>
                    <td class="field">Hidden Rules</td>
                </tr>
                <tr>
                    <td class="label">Length:</td>
                    <td class="field">1 Hour</td>
                </tr>
                <tr>
                    <td class="label">Required For:</td>
                    <td class="field">Circle Leaders</td>
                </tr>
                <tr>
                    <td class="label">Description:</td>
                    <td class="field">Training for circles leaders with extremely important long very long information it'll be a fun time this is long.</td>
                </tr>
                <tr>
                    <td class="label">Facilitators:</td>
                    <td class="field">John Doe, Nick Witten</td>
                </tr>
                <tr>
                    <td class="label">Links:</td>
                    <td class="field"></td>
                </tr>
                <tr>
                    <td class="label">Files:</td>
                    <td class="field"></td>
                </tr>
                <!-- END JS -->
            </table>
        </div>
        <div id="{{ type }}_update" class="update fields-container" style="">
            <form id="{{ type }}_form">
                {% csrf_token %}
                <table class="fields-table">
                    <tr>
                        {{ form.site.as_hidden }}
                        <td class="label"><p>Site:</p></td>
                        <td class="field site-select">
                            <div id="{{ type }}_site_select" class="multi-level-dropdown"></div>
                        </td>
                    </tr>
                    {% if type == 'module' %}
                    <tr>
                        {{ form.theme.as_hidden }}
                        <td class="label"><p>Theme:</p></td>
                        <td class="field">
                            <div id="{{ type }}_theme_select" class="dropdown">
                            </div>
                        </td>
                    </tr>
                    {% endif %}
                    <tr>
                        <td class="label"><p>Title:</p></td>
                        <td class="field">
                            {{ form.title }}
                        </td>
                    </tr>
                    {% if type == 'module' or type == 'theme' %}
                    <tr>
                        {{ form.required_for.as_hidden }}
                        <td class="label"><p>Required for:</p></td>
                        <td class="field">
                            <div id="{{ type }}_required_select" class="dropdown"></div>
                        </td>
                    </tr>
                    {% endif %}
                    {% if type == 'module' or type == 'programming' %}
                    <tr>
                        <td class="label"><p>Length:</p></td>
                        <td class="field">
                            {{ form.length }}
                        </td>
                    </tr>
                    <tr>
                        {{ form.facilitators.as_hidden }}
                        <td class="label top"><p class="pt-1">Facilitators:</p></td>
                        <td id="{{ type }}_facilitator_input" class="field facilitators">
                            <div class="autocomplete-input">
                            </div>
                            <div class="facilitator-list">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="label top"><p class="pt-1">Description:</p></td>
                        <td class="field">
                            {{ form.description }}
                        </td>
                    </tr>
                    {% endif %}
                </table>
                {% if type == 'module' or type == 'programming' %}
                <div class="load-container">
                    <div class="file-input">
                        <input multiple id="{{type}}_file_upload" type="file">
                        <label for="{{type}}_file_upload" class="fas fa-file-upload blacklink"></label>
                        <div class="files">
                            <div class="file">
                                <a href="#" class="blacklink">fake_file.doc</a>
                                <a href="#" class="delete fas fa-times blacklink"></a>
                            </div>
                        </div>
                    </div>
                    <div class="loading" style="display: none;">
                        <div class="center">
                            <div class="spinner"></div>
                        </div>
                    </div>
                </div>
                {{ form.links.as_hidden }}
                <div id="{{ type }}_link_input" class="link-input">
                </div>
                {% endif %}
            </form>
            <div class="btn-container">
                <a href="#" class="save-btn btn btn-outline-secondary mb-1">Save</a>
            </div>
        </div>
    </div>
</div>
