{% extends 'learning/base.html' %}
{% load static %}

{% block app_tabs %}
<ul class="sub_tags bg-blue">
    <li class=""><a class="blacklink sub_tabs" href="{% url 'learning' %}">Learning</a></li>
</ul>
{% endblock %}

{% block content %}
<div id="main_container" class="shadow container">
    <a href="#" id="menu_btn" class="fas fa-bars blacklink"></a>
    <div id="header" class=" border-bottom">
        <h3 class="title">
            Winter Garden Training
        </h3>
    </div>
    <div id="content">
        <div class="left">
            <ul id="items">
                <!-- JS -->
                <li class="item">
                    <a href="#">Bridges Out of Poverty</a>
                    <a class="sub-item" href="#">Hidden Rules</a>
                    <a class="sub-item" href="#">Causes of Poverty</a>
                    <a class="sub-item" href="#">Language</a>
                    <a class="sub-item" href="#">the Eleven Resources</a>
                    <a class="sub-item" href="#">Mental Models of Class</a>
                </li>
                <li class="item">
                    <a href="#">Theme llllllllllll</a>
                    <a class="sub-item" href="#">Module</a>
                    <a class="sub-item" href="#">Module</a>
                    <a class="sub-item" href="#">Module</a>
                    <a class="sub-item" href="#">Module</a>
                    <a class="sub-item" href="#">Module</a>
                    <a class="sub-item" href="#">Module</a>
                    <a class="sub-item" href="#">Module</a>
                    <a class="sub-item" href="#">Module</a>
                    <a class="sub-item" href="#">Module</a>
                </li>
                <li class="item">
                    <a href="#">Theme llllllllllll</a>
                    <a class="sub-item" href="#">Module</a>
                    <a class="sub-item" href="#">Module</a>
                    <a class="sub-item" href="#">Module</a>
                    <a class="sub-item" href="#">Module</a>
                </li>
                <!-- END JS -->
            </ul>
        </div>
        <div class="right">
            <div class="mt-4">
                <a href="#" class="btn btn-outline-secondary">+ Theme</a>
                <a href="#" class="btn btn-outline-secondary">+ Module</a>
            </div>
        </div>
        {% for form in forms %}
            {% include 'learning/learning_info.html' with type=form.0 form=form.1 %}
        {% endfor %}
    </div>
</div>

{% endblock %}

{% block js %}
{{ data|json_script:"learning_data" }}
<script>
    // Pass template variables into js file
    var learning_data = JSON.parse($('#learning_data').text())[0];
    var url_learning_models = "{% url 'learning-models' %}"
    var url_learning_files = "{% url 'learning-files' %}"
    var url_members_completed = "{% url 'members-completed' %}"
</script>
<script src="{% static 'learning/js/learning.js' %}"></script>
{% endblock %}