Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: ["elasticbeanstalk-us-east-1-061901495256"]
          roleName: 
            "Fn::GetOptionSetting": 
              Namespace: "aws:autoscaling:launchconfiguration"
              OptionName: "IamInstanceProfile"
              DefaultValue: "aws-elasticbeanstalk-ec2-role"
files:
#   "/etc/pki/tls/certs/server.key":
#     mode: "000777"
#     owner: ec2-user
#     group: ec2-user
#     authentication: "S3Auth"
#     source: https://elasticbeanstalk-us-east-1-061901495256.s3.us-east-1.amazonaws.com/auth/server.key
  "/home/ec2-user/env.py":
    mode: "000777"
    owner: ec2-user
    group: ec2-user
    authentication: "S3Auth"
    source: https://elasticbeanstalk-us-east-1-061901495256.s3.us-east-1.amazonaws.com/auth/env.py
