{% extends 'members/base.html' %}

<!--------------- Nav Bar ------------------->

{% block app_tabs %}


  <ul class="sub_tags bg-blue">
    <li><a class='text-white sub_tabs' href="{% url 'profiles' %}">Profiles</a></li>
    <li><a class='text-white sub_tabs' href="{% url 'profile-detail' profile.pk %}">Profile Info</a></li>
    <li><a class='text-white sub_tabs' href="{% url 'profile-update' profile.pk %}">Edit Profile</a></li>
    <li><a class='blacklink sub_tabs' href="#">Children</a></li>
  </ul>

{% endblock app_tabs %}

<!------------------------------------------->

{% block content %}

  <div class="container blended">
    <div class="border-bottom text-center mb-2 mt-2">
      <h3>Children Associated with {{ profile.first_name }} {{ profile.last_name }}</h3>
    </div>
    {% for childinfo in childinfos %}
      {% include 'members/sub_templates/children_info.html' with childinfo=childinfo %}
    {% endfor %}
    <div class="children-container p-3 mr-2 ml-2 shadow">
      <div class="form-group m-0 pb-2 pt-2 d-inline-block">
        <button class="create-childinfo btn btn-outline-secondary" type="button" name="button">Create</button>
      </div>
      <p>Create a new parent/guardian, emergency contact, and physician set to place children under.</p>
    </div>
  </div>

  <!---------------------- Modal Popup ------------------>

  <div class="modal fade" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content popup">
      </div>
    </div>
  </div>


<script type="text/javascript">
  $(document).ready(function() {

    $(".create-childinfo").modalForm({
      formURL: "{% url 'create-childinfo' profile.pk %}"
    });

    $(".modal-trigger").each( function () {
      $(this).modalForm({formURL: $(this).data('id')});
    });

  });
</script>

{% endblock content %}
