{% extends 'members/base.html' %}
{% load crispy_forms_tags %}
{% load members_tags %}


<!--------------- Nav Bar ------------------->

{% block app_tabs %}
  <ul class="sub_tags bg-blue">
    <li><a class='blacklink sub_tabs' href="{% url 'profiles' %}">Profiles</a></li>
  </ul>
{% endblock app_tabs %}

<!------------------------------------------->

{% block content %}

  <div id="profile_search_content" class="content-section shadow">

    <form id="tool_input_form" class="" action="post">
      {% csrf_token %}
      <div id="top_search_container" class="top-search-container d-none">

        <div class="input-group">
          {{ form.searchinput }}
          <div class="input-group-append">
            <button id="add_filter_btn" class="btn btn-secondary" type="button">Tools</button>
            <select id="list_select" class="d-inline-block rounded-0 custom-select bg-secondary text-white" name="">
            </select>
          </div>
        </div>

        <div id="tool_container" class="d-block-notimportant border pl-3 pr-3 pt-2 d-none">
          <div class="row">

            <div class="mr-1 ml-1">
              <p class="m-0 mt-2 mr-1 d-inline-block">Filter By: </p>

              <select id="filter_by" class="tool-input form-control mt-1 d-inline-block" type="text" placeholder="filter by">
                {% for value, display in form_choices_text %}
                <option value="{{ value }}">{{ display }}</option>
                {% endfor %}
              </select>
            </div>

            <div class="mr-1 ml-1">
              <p class="m-0 mt-2 mr-1 d-inline-block">Filter Input: </p>

              <div id="filter_input_container" class="tool-input d-inline-block p-0 pt-1">
              </div>
            </div>

            <div id="filter_submit_btn_container" class="p-0 tool-seperator">
            </div>

            <div class="mr-1 ml-1">
              <p class="m-0 mt-2 mr-1 d-inline-block">Sort By: </p>
              {{ form.sortby }}
            </div>


            <div class="tool-seperator">
            </div>

            <div id="data_container" class="mr-1 ml-1">
              <p class="m-0 mt-2 mr-1 d-inline-block">Data: </p>

              <div id="data_displayed_container" class="d-inline-block">
              </div>

              <i id="add_data_btn" class="fas fa-plus-circle icon-btn d-inline-block"></i>

              <div id="data_delete_btn_container" class="d-inline-block">
              </div>

            </div>

            <div class="tool-seperator">
            </div>

            <div class="mr-1 ml-1">
            </div>

          </div>
          <div class="row">
            <div class="col-8 p-0 mb-0">
              <div id="filter_list" class="mb-0 p-0 d-inline-block">
              </div>
            </div>
            <div id="tool_btns_container" class="pr-1 col-4 text-right">
              <button id="filterset_create" class="btn btn-outline-secondary btn-sm" type="button" name="button">Create List</button>
              <button id="export_excel_btn" class="btn btn-outline-secondary btn-sm mr-3" type="button" name="button">Export to Excel</button>
              <i class="fas fa-chevron-up icon-btn mt-3" id="hide_tools"></i>
            </div>
          </div>
          {{ form.filters.as_hidden }}
          {{ form.datatype.as_hidden }}
        </div>
      </div>
    </form>






    <div class="text-center">
      <div id="list_title" class="border-bottom">
      </div>

      <div id="delete_list_btn_container"class="d-inline-block">
      </div>
    </div>

    <ul class="list-group p-2" id="result-list">
    </ul>



  </div>

{% endblock content %}

{% block js %}
<!-- Define global variables from template -->
  <script>
    var form_choices_text = JSON.parse("{{ form_choices_text_json|escapejs }}");
  </script>
  <script src="/static/members/js/profiles.js"></script>
{% endblock js %}
