{% load members_tags %}

<div id="profile_content" class="blended container">

    <div class="row">
        <div class="col-6 half">

<!-------------- Basic Profile Info ---------------->

            <div id="main_container" class="profile-container shadow">
                <div class="main-header">
                    <div class="img-wrapper">
                        {% if not create %}
                        <img id="profile_pic" class="article-img round" src="{{ object.image.url }}" width="100%">
                        {% if update %}
                        <label id="edit_pic" for="id_image">
                            <i class="fas fa-edit middle text-white"></i>
                        </label>
                        {% endif %}
                        {% endif %}
                    </div>
                    {% include 'members/sub_templates/profile_field.html' with field='circles_ID' %}
                </div>

                {% for field in object.main_fields %}
                {% include 'members/sub_templates/profile_field.html' with field=field %}
                {% endfor %}

                <h6 class="mt-4 mb-2">Emergency Contact</h6>

                {% for field in object.e_fields %}
                {% include 'members/sub_templates/profile_field.html' with field=field %}
                {% endfor %}

            </div>

<!-------------------- Housing ---------------------------------->

            {% with residences=object.order_residences %}

            <div id="housing_container" class="profile-container other-container shadow">

                <div class="border-bottom text-center">
                    <h3>Housing</h3>
                </div>

                {% if residences %}
                {% for residence in residences %}

                <div class="residence_container border-bottom">
                    <div class="residence-left">
                        <p class="dates p-2">
                            {% if residence.start_date %}
                            {{ residence.start_date|date:'m/d/Y' }}{% if residence.end_date %} - {{ residence.end_date|date:'m/d/Y' }}{% endif %}
                            {% endif %}
                        </p>
                        {% if update %}
                        <div class="p-2">
                            <i class="modal-trigger far fa-edit blacklink text-small mr-2 ml-2"
                               data-id="{% url 'update-residence' residence.pk %}">
                            </i>
                            <i class="modal-trigger far fa-trash-alt blacklink text-small mr-2 ml-2"
                               data-id="{% url 'delete-residence' residence.pk %}">
                            </i>
                        </div>
                        {% endif %}
                    </div>
                    <div class="residence-right">
                        <p class="residence-field mt-2">
                            {{ residence.street_address|default_if_none:"" }}{% if residence.unit %}, Unit #{{residence.unit }}{% endif %}
                        </p>
                        <p class="residence-field mb-2">{{ residence.city }}, {{ residence.state }} {{ residence.zip }}</p>
                        {% for field in residence.display_fields %}
                        <p class="residence-field mb-2">{{ field|field_to_label }} {{ residence|get_obj_attr:field }}</p>
                        {% endfor %}
                    </div>
                </div>

                {% endfor %}
                {% else %}
                <div class="border-bottom">
                    <p class="no-info">No Housing Information</p>
                </div>
                {% endif %}

                {% if update %}
                <button class="create-residence modal-trigger btn btn-outline-secondary mt-2"
                        data-id="{% url 'create-residence' object.pk %}" type="button">Add Home Info
                </button>
                {% elif create %}
                <button class="create-residence btn btn-outline-secondary mt-2" type="button">Add Home Info
                </button>
                {% endif %}

            </div>

        </div>
        <div class="col-6 half">

        {% endwith %}

<!-------------------- Children ------------------------------->

            {% with children=object.order_children %}

            <div id="children_container" class="profile-container other-container shadow">
                <div class="border-bottom text-center">
                    <h3>Children</h3>
                </div>

                <div class="border-bottom">
                    {% if children %}
                        {% for child in children %}
                        <div class="child-container">
                            <p class="name">{{ child.first_name }} {{ child.last_name }}</p>
                            <p class="age">{{ child.calculate_age }}</p>
                        </div>
                        {% endfor %}
                    {% else %}
                        <p class="no-info">No Child Information</p>
                    {% endif %}
                </div>
                <!-- Add Child Button -->
                {% if create %}
                <button class="btn btn-outline-secondary mt-2" type="button">Edit Children</button>
                {% elif update %}
                <a class="btn btn-outline-secondary mt-2" href="{% url 'edit-children' object.pk %}">Edit Children</a>
                {% elif object.order_children %}
                <button class="btn btn-outline-secondary more-child-info mt-2" type="button">More Info</button>
                {% endif %}

            </div>

            {% endwith %}

<!-------------------- Roles ---------------------------------->

            {% with roles=object.order_roles %}

            <div id="roles_container" class="profile-container other-container shadow">

                <div class="border-bottom text-center">
                    <h3>Roles</h3>
                </div>

                <!-- Status Field -->
                <div class="border-bottom">
                    <div class="field-container">
                        <p class="field-label">Status:</p>
                        <p class="field-value">{% if detail %}{{ object.status|default_if_none:'Not Available' }}{% else %}{{ form.status }}{%endif %}</p>
                    </div>
                </div>

                <!-- Role Objects -->
                {% if roles %}
                {% for role in roles %}
                <div class="role-container border-bottom">
                    <div class="role-left">
                        <p class="dates p-2">
                            {% if role.start_date %}
                            {{ role.start_date|date:'m/d/Y' }}{% if role.end_date %} - {{ role.end_date|date:'m/d/Y' }}{% endif %}
                            {% endif %}
                        </p>
                        {% if update %}
                        <div class="p-2">
                            <a class="modal-trigger blacklink far fa-edit icon-btn text-small mr-2 ml-2"
                               data-id="{% url 'update-role' role.pk %}">
                            </a>
                            {% if roles|length != 1 %}
                            <a class="modal-trigger blacklink far fa-trash-alt icon-btn text-small mr-2 ml-2"
                               data-id="{% url 'delete-role' role.pk %}">
                            </a>
                            {% endif %}
                        </div>
                        {% endif %}
                    </div>
                    <div class="role-right">
                        <h6 class="m-0 text-capitalize mb-1">
                            {{ role.position }}
                        </h6>
                        {% for field in role.display_fields %}
                        <p class="mb-2">{{ field|field_to_label }} {{ role|get_obj_attr:field }}</p>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <div class="border-bottom">
                    <p class="no-info">No Role Information</p>
                </div>
                {% endif %}

                <!----- Add Role Button ------>
                {% if update %}
                <button class="create-role modal-trigger btn btn-outline-secondary mt-2"
                   data-id="{% url 'create-role' object.pk %}" type="button">Add Role
                </button>
                {% elif create %}
                <button class="create-role btn btn-outline-secondary mt-2" type="button">Add Role</button>
                {% endif %}
            </div>

            {% endwith %}

<!----------------------- Training Container ---------------------------------->

            {% with trainings=object.order_training %}

            <div id="trainings_container" class="profile-container other-container shadow">
                <div class="border-bottom">
                    {% if trainings %}
                        {% for site in trainings %}
                            <div class="mb-4">
                                <div class="border-bottom text-center">
                                    <h3 class="mb-2">{% if trainings|length > 1 %}{{ site.site }}{% endif %} Training</h3>
                                </div>
                                <div class="border-bottom flex">
                                    <h6 class="subject d-inline-block">Subject</h6>
                                    <h6 class="date d-inline-block">Date Completed</h6>
                                </div>
                                {% for theme in site.themes %}
                                    <div class="training-container">
                                        <a href=
                                        "{% url 'learning' %}?site={{site.site.pk}}&type=All&model_type=theme&id={{ theme.theme.pk }}"
                                        target="_blank" class="subject theme blacklink">{{ theme.theme }}</a>
                                        <p class="date">{{ theme.profile_theme.end_date|default_if_none:"" }}</p>
                                    </div>
                                    {% for profile_module in theme.profile_modules %}
                                        <div class="training-container">
                                            <a href=
                                            "{% url 'learning' %}?site={{site.site.pk}}&type=All&model_type=module&id={{ profile_module.module.pk }}"
                                            target="_blank" class="subject module blacklink">{{ profile_module.module }}</a>
                                            <p class="date">{{ profile_module.end_date|default_if_none:"" }}</p>
<!--                                            {% if update %}-->
<!--                                            <div class="edit-buttons">-->
<!--                                                <a class="modal-trigger blacklink far fa-edit icon-btn text-small"-->
<!--                                                   data-id="">-->
<!--                                                </a>-->
<!--                                                <a class="modal-trigger blacklink far fa-trash-alt icon-btn text-small"-->
<!--                                                   data-id="">-->
<!--                                                </a>-->
<!--                                            </div>-->
<!--                                            {% endif %}-->
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="border-bottom text-center">
                            <h3>Training</h3>
                        </div>
                        <p class="no-info">No Training Information</p>
                    {% endif %}
                </div>
                <!-- Add Training Button -->
                <a href="{% url 'learning' %}" target="_blank" class="btn btn-outline-secondary mt-2">Training</a>

            </div>

            {% endwith %}

<!-------------------------------------------------------------------------->

        </div>

<!---------------------- Navigation Buttons -------------------------------->
        <div class="buttons">
            {% if update %}
                <button class="btn btn-outline-secondary" type="submit" name="button">Save</button>
                <button class="btn btn-outline-danger modal-trigger" data-id="{% url 'profile-delete' object.id %}" type="button">Delete Profile</button>
            {% elif detail %}
                <a class="btn btn-outline-secondary" href="{% url 'profile-update' object.id %}">Edit Profile</a>
            {% endif %}
        </div>
<!------------------------------------------------------>
    </div>
</div>
