{% extends 'members/base.html' %}
{% load crispy_forms_tags %}
{% load members_tags %}


<!--------------- Nav Bar ------------------->

{% block app_tabs %}
  <div class="bg-red">
    <ul class="sub_tags">
      <li><a class='blacklink sub_tabs' href="{% url 'profiles' %}">Profiles</a></li>
    </ul>
  </div>
{% endblock app_tabs %}

<!------------------------------------------->

{% block content %}

  <div id="profile_search_content" class="content-section shadow">


    <div id="top_search_container" class="top-search-container d-none">

      <div class="input-group">
        <input id="search_input" type="text" class="form-control" value="" placeholder="" aria-label="" aria-describedby="basic-addon1">
        <div class="input-group-append">
          <button id="add_filter_btn" class="btn btn-secondary" type="button">Tools</button>
          <select id="list_select" class="d-inline-block rounded-0 custom-select bg-secondary text-white" name="">
          </select>
        </div>
      </div>

      <div id="tool_container" class="d-block-notimportant border pl-3 pr-3 pt-2 d-none">
        <div class="row">

          <div class="mr-1 ml-1">
            <p class="m-0 mt-2 mr-1 d-inline-block">Filter By: </p>

            <select id="filter_by" class="tool-input form-control mt-1 d-inline-block" type="text" placeholder="filter by">
              <option value="" selected value>None</option>
              <option value='site'>Site</option>
              <option value='gender'>Gender</option>
              <option value='last_name'>Last Name</option>
            </select>
          </div>

          <div class="mr-1 ml-1">
            <p class="m-0 mt-2 mr-1 d-inline-block">Filter Input: </p>

            <div id="filter_input_container" class="tool-input d-inline-block p-0 pt-1">
              <select class="form-control" name="">
                <option value="" disabled selected>Select</option>
              </select>
            </div>
          </div>

          <div id="filter_submit_btn_container" class="p-0 tool-seperator">
          </div>

          <div class="mr-1 ml-1">
            <p class="m-0 mt-2 mr-1 d-inline-block">Sort By: </p>

            <select id="sort_by" class="tool-input form-control mt-1 d-inline-block" type="text" placeholder="Sort By">
              <option value="" selected value>None</option>
              <option value='site'>Site</option>
              <option value='status'>Status</option>
              <option value='city'>City</option>
              <option value='state'>State</option>
              <option value='birthdate'>Birthdate</option>
              <option value='race'>Race</option>
              <option value='gender'>Gender</option>
            </select>
          </div>


          <div class="tool-seperator">
          </div>

          <div class="mr-1 ml-1">
            <p class="m-0 mt-2 mr-1 d-inline-block">Data: </p>

            <select id="data_displayed" class="tool-input form-control m-1 d-inline-block" type="text" placeholder="Data Type">
              <option value="" selected value>None</option>
              <option value='email'>Email</option>
              <option value='cell'>Cell</option>
              <option value='circles_id'>ID</option>
              <option value='status'>Status</option>
              <option value='birthdate'>Birthdate</option>
              <option value='race'>Race</option>
              <option value='gender'>Gender</option>
              <option value='city'>City</option>
              <option value='state'>State</option>
              <option value='zip'>Zip</option>
              <option value='site'>Site</option>
              <option value='e_phone'>Emergency Number</option>
            </select>
          </div>

        </div>
        <div class="row">
          <div class="col-11 p-0 mb-0">
            <div id="filter_list" class="mb-0 p-0 d-inline-block">
            </div>
            <button id="filterset_create" class="btn btn-outline-secondary btn-sm" type="button" name="button">Create List</button>
          </div>
          <div class="pr-1 col-1 text-right">
            <i class="fas fa-chevron-up icon-btn mt-3" id="filter_cancel"></i>
          </div>
        </div>
      </div>

    </div>

    <div class="text-center">
      <div id="list_title" class="border-bottom">
      </div>

      <div id="delete_list_btn_container"class="d-inline-block">
      </div>
    </div>

    <ul class="list-group p-2" id="result-list">
    </ul>



  </div>

{% endblock content %}

{% block js %}
  <script>


    ///////////////// HTML Elements //////////////////////////////////////

    // Adds header above each group of profiles when using sort by
    function addGroupHeaderHTML(group) {
      $('#result-list').append(
        $('<h3/>')
          .text(group['group name'])
          .addClass("mt-2 mb-2")
      );
    }

    // Adds profile and data to the result list
    function addProfileHTML(profile) {
      // Create a row
      var container =
      $('<div/>')
        .attr('id','profile_container')
        .addClass('border pt-2 pb-2 row');
      // Create halves of the row
      var left =
      $('<div/>')
        .addClass('col-6');
      var right =
      $('<div/>')
        .addClass('col-6');
      // Add the row to the result list
      $('#result-list').append(
        container
      );
      // Add the halves to the row
      $(container).append(
        left,
        right
      );
      // Fill in the halves with the name and data
      $(left).append(
        $('<a/>')
          .addClass("col-6 m-0")
          .attr("href","profile/" + profile['pk'].toString())
          .text(profile['first name'] + ' ' + profile['last name'])
      );
      $(right).append(
        $('<p/>')
          .text(profile['data'])
          .addClass('col-6 m-0')
      );
    }

    // Add the filter and delete button into the list of active filters
    function addFilterHTML(filter, filter_number) {
      var filtertext = {
        site:"Site",
        gender:"Gender",
        last_name:"Last Name",
      }
      var container =
      $("<div/>")
        .addClass("rounded border d-inline-block m-1");
      $(container).append(
        // Filter element
        $('<a/>')
          .addClass("d-inline-block")
          .text(filtertext[filter["filterby"]] + ': ' + filter["filterinput"]),
        // Trash can icon next to filter element
        $('<button/>')
          .attr("id","delete-" + i.toString())
          .addClass("fas fa-times icon-btn text-small")
          .click(function() { removeFilter($(this))})
      );
      $('#filter_list').append(container);
    }

    // Add filtersets to the list select dropdown
    function addFilterSetsHTML(filtersets) {
      $('#list_select').append(
        // disabled option that says Your Lists
        $("<option/>")
          .attr("selected","selected")
          //.attr("disabled","disabled")
          .attr("value",'') // So can be selected on deactivation of list
          .text("Your Lists")
      );
      // Add each filterset to the dropdown
      for (i=0;i<filtersets.length;i++) {
        $('#list_select').append(
          $("<option/>")
            .text(filtersets[i]["title"])
            .attr("value",'{"title": "' + filtersets[i]["title"].toString() + '", "filters": ' + filtersets[i]["filters"].toString() + '}')
        );
      }
    }

    // Add the correct input for a filter based on the filter by field
    function addFilterInputHTML(options) {
      if (options) { // If there are options create a dropdown
        $("#filter_input_container").append(
          $('<select/>')
            .addClass("d-inline-block form-control m-0")
            .attr("id","filter_input")
            .change(function() {getProfiles()})
        );
        // disabled option that just says select
        $('#filter_input').append(
          $("<option/>")
            .attr("selected","selected")
            .attr("disabled","disabled")
            .text("Select")
        )
        // Add each option that was passed into the function
        for (i=0;i<options.length;i++) {
          $("#filter_input").append(
            $("<option/>")
              .text(options[i])
              .attr("value",options[i])
          );
        }
      // Add an input field if there were no options passed in
      } else {
        $("#filter_input_container").append(
          $('<input/>')
            .addClass("form-control")
            .attr("id","filter_input")
            .attr("placeholder","Enter Value")
            .on("keyup", function() {getProfiles()})
        );
      }
    }

    // Add filter submit button
    function addFilterSubmitHTML() {
      $("#filter_submit_btn_container").append(
        $("<i/>")
          .attr("id","filter_submit")
          .addClass("fas fa-plus-circle icon-btn d-inline-block")
          .on("click", function() {addFilter();})
      );
    }

    // Add the input for the filterset title
    function addListTitleInputHTML(title) {
      if (!title) {
        text = "Title"; // So that placeholder is displayed
      } else {
        text = title;
      }
      $("#list_title").append(
        $('<span/>')
          .addClass("text")
          .text(text),
        $('<input/>')
          .addClass("input")
          .attr("id","title_input")
          .attr("type","text")
          .attr("placeholder","Title")
          .attr("maxlength",40)
          .attr("onInput","expandTitle()")
          .attr("value", title)
          .change(function() {addFiltersetTitle($(this).val())})
      )
    }

    // Add the button to delete a filterset
    function addListDeleteBtnHTML() {
      $("#delete_list_btn_container").append(
        $("<button/>")
          .attr("id","delete_filterset_btn")
          .addClass("far fa-trash-alt icon-btn text-small")
          .on("click", function() {deleteFilterset();})
      )
    }
    ////////////////////////// functions ////////////////////////////////////

    // filters that are saved by the user are stored here as objects containing
    // filterby and filterinput
    var filters = [];


    // Initialize page
    $(document).ready(function(){
      getProfiles();
      getUserFilterSets();
      // Hide filter and search
      document.getElementById('profile_search_content').scrollTop = 12;
      document.getElementById('top_search_container').classList.remove('d-none');
    });



    // Get the profiles based on current filters and search input and add them
    // to the page
    function getProfiles() {
      // Collect data to input to the backend
      var filter_by = $('#filter_by').val();
      var filter_input = $('#filter_input').val();
      var search_input = $('#search_input').val();
      var sort_by = $("#sort_by").val();
      var data_displayed = $('#data_displayed').val();
      var saved_filters = JSON.stringify(filters);
      console.log(saved_filters);
      // Ajax call to the backend (GetProfiles)
      $.ajax({
        url: '{% url "get-profiles" %}',
        data: {
          'filter_by': filter_by,
          'filter_input': filter_input,
          'search_input': search_input,
          'sort_by': sort_by,
          'data_displayed': data_displayed,
          'saved_filters': saved_filters,
        },
        dataType: 'json',
        success: function (data) {
          // Returned:
          // group object containing a list of profile objects
          // Profile objects contain first name, last name, and pk
          var groups = data.groups;
          console.log( groups );
          $('#result-list').html(null); // Clear the result list
          // Loop throught the groups
          var i = 0;
          var j = groups.length;
          for (i = 0; i < j; i++) {
            var group = groups[i];
            if (group['group name'] == 'no groups'){
              // No group header
            }
            else {
              // Add a group header
              addGroupHeaderHTML(group);
            };
            // Loop through each profile and add element under the group header
            var k = 0;
            var l = group['profiles'].length
            for (k = 0; k < l; k++) {
              addProfileHTML(group['profiles'][k]);
            };
          };
        }
      });
    }




    // Create the filter elements and add them to the page based on the saved
    // filters
    function getFilters(){
      var filter_list_element = $('#filter_list');
      filter_list_element.empty();
      // Loop through filters and add them to the page
      j = filters.length;
      for (i = 0; i < j; i++) {
        addFilterHTML(filters[i],i);
      };
    };

    // Add a filter to the list of active filters
    function addFilter() {
      var filterBy = $('#filter_by').val(); // Get user inputs
      var filterInput = $('#filter_input').val();
      // Add to the active filters
      filters.push( {"filterby": filterBy, "filterinput": filterInput} );
      // Update the page
      getFilters();
      getProfiles();
      // Clear the filter by
      $('#filter_by').val('');
      $('#filter_input_container').html(null); // Remove the input
      addFilterInputHTML(null); // Add an input to hold the place
      // Deactivate any active lists
      $('#list_title').html(null);
      $("#delete_list_btn_container").html(null);
      $('#list_select').val(null);
      $('#filterset_create_btn_container').html(null); // Remove buttons
      $('#filter_submit_btn_container').html(null);
      // Add the create filterset button
      //addCreateFiltersetBtnHTML();
    }



    // Remove the active filter
    function removeFilter(button) {
      filter_number = button[0].id[7]; // Obtain the filter number from the button id
      filters.splice(filter_number,1); // Delete the filter from active filters
      // Update page
      getFilters();
      getProfiles();
      // Deactivate any active lists
      $('#list_title').html(null);
      $('#delete_list_btn_container').html(null);
      $('#list_select').val(null);
    }




    // Get the users filtersets and fill out the list drop down
    function getUserFilterSets() {
      var filterset_select_element = $("#list_select")
      filterset_select_element.html(null); // Clear the drop down
      $("#filterset_create_btn_container").html(null); // Remove create filterset
      // button
      // Retrieve the user's filtersets
      $.ajax({
        url: "{% url 'get-filtersets' %}",
        dataType: 'json',
        success: function (data) {
          // Data contains list of filterset objects which contain
          // a title and a list of filter objects
          addFilterSetsHTML(data.filtersets); // Add the html elements
        }
      });
    };


    // Change the filter input to the appropriate options
    function getFilterInputField(filter_by) {
      // Create options for each category
      if (filter_by == 'site') {
        options = ['Winter Garden', 'Atlanta'];
      } else if (filter_by == 'gender') {
        options = ['Male', 'Female'];
      // If not one of these filter by just use an input field
      } else {
        options = null;
      }
      $("#filter_input_container").html(null); // Clear the input container
      $("#filter_submit_btn_container").html(null); // Clear the button container
      addFilterInputHTML(options); // Add the correct input type to the container
      addFilterSubmitHTML();
      getProfiles(); // Update page
    }

    // Adds a the current filters to a filterset and adds to users filtersets
    function createFilterset() {
      $.ajax({
        url: "{% url 'create-filterset' %}",
        data: {
          'filters' : JSON.stringify(filters),
        },
        dataType: 'json',
        success: function (data) {
          $("#list_title").html(null); // Clear the title
          addListTitleInputHTML(null); // Add the title input to the page
          $("#delete_list_btn_container").html(null); // Clear button
          addListDeleteBtnHTML(); // Add the delete button
          $("#title_input").focus(); // Place the cursor in the input
          getUserFilterSets(); // Update page
        },
        async: false
      });
    }

    // Add a title to the new filterset
    function addFiltersetTitle(title) {
      $.ajax({
        url: "{% url 'add-filterset-title' %}",
        data: {
          'filters' : JSON.stringify(filters),
          'title' : title
        },
        dataType: 'json',
        success: function (data) {
            // Update page
            getUserFilterSets();
        }
      });
      // Remove cursor from field
      $("#title_input").blur();
    }

    // Delete a filterset from database
    function deleteFilterset() {
      $.ajax({
        url: "{% url 'delete-filterset' %}",
        data: {
          'filters': JSON.stringify(filters), // Send filters
          'title': $("#title_input").val(), // Send title
        },
        dataType: 'json',
        success: function (data) {
          filters = []; // Remove all filters
          getProfiles(); // Update page
          getFilters();
          getUserFilterSets();
          $("#list_title").html(null); // Clear the title
          $("#delete_list_btn_container").html(null); // Clear the button
        }
      });
    }

    // Add a filterset's filters to active filters
    function activateFilterset(option_val) {
      // Get the filterset from the option value
      if (option_val) {
        var value = JSON.parse(option_val);
      } else {
        var value = {"title":null,"filters":[]};
      }
      title = value["title"];
      filters = value["filters"];
      // Add the title
      $("#list_title").html(null); // Clear the title
      $("#delete_list_btn_container").html(null); // Clear button
      if (option_val) { // If deselecting a list add no title
        addListTitleInputHTML(title); // Add the title input to the page
        addListDeleteBtnHTML(); // Add the delete button
      }
      getFilters();
      getProfiles();
    }

    function showFilters() {
      // Show filter container
      document.getElementById('tool_container').classList.remove('d-none');
    }

    function hideFilters() {
      // Hide the filters
      $('#filter_by').val('');
      $('#filter_input').val('');
      getProfiles();
      document.getElementById('tool_container').classList.add('d-none');
    }

    function expandTitle() {
      $('.text').text($('.input').val()); // Copy text to the span element
      if ($('.input').val() == '') { // When input is empty
        $('.text').text('Title'); // Expand to see the placeholder
      }
    }
    /////////////// Listners to update the page //////////////////////

    $("#filter_by").change(function() {
      getFilterInputField($(this).val()); // Add an input field
    });
    $("#search_input").on("keyup", function() {
      getProfiles();
    });
    $("#sort_by").change(function() {
      getProfiles();
    });
    $("#data_displayed").change(function() {
      getProfiles();
    });
    $("#list_select").change(function() {
      activateFilterset($(this).val()); // Change the active filters
    });
    $("#add_filter_btn").on("click", function() {
      showFilters(); // Show the filters
    });

    $("#filter_cancel").on("click", function() {
      hideFilters(); // Hide the filters
    });
    $("#filterset_create").on("click", function() {
      createFilterset(); // Create a list
    });

  </script>


{% endblock js %}
