{% extends 'members/base.html' %}
{% load crispy_forms_tags %}
{% load members_tags %}


<!--------------- Nav Bar ------------------->

{% block app_tabs %}
  <ul class="sub_tags bg-blue">
    <li><a class='blacklink sub_tabs' href="{% url 'profiles' %}">Profiles</a></li>
  </ul>
{% endblock app_tabs %}

<!------------------------------------------->

{% block content %}

  <div id="profile_search_content" class="content-section shadow">

    <form id="tool_input_form" class="" action="post">
      {% csrf_token %}
      {{ form.filters.as_hidden }}
      {{ form.datatype.as_hidden }}

      <div id="top_search_container" class="top-search-container d-none">

        <div class="input-group">
          {{ form.searchinput }}
          <div class="input-group-append">
            <button id="tools_btn" class="btn btn-secondary" type="button">Tools</button>
            <select id="list_select" class="d-inline-block rounded-0 custom-select bg-secondary text-white" name="">
            </select>
          </div>
        </div>

        <div id="tool_container" class="border" style="display:none;">
          <div class="inputs">

            <div id="filter_container" class="input">
              <p>Filter By: </p>
              <select class="form-control" id="filter_by" placeholder="filter by" type="text">
                {% for value, display in form_choices_text %}
                <option value="{{ value }}">{{ display }}</option>
                {% endfor %}
              </select>
              <p class="">Filter Input: </p>
              <div id="filter_input_container" class="">
              </div>
              <div id="filter_submit_btn_container">
              </div>
            </div>

            <div class="input">
              <p class="">Sort By: </p>
              {{ form.sortby }}
            </div>

            <div id="data_container" class="input">
              <p class="">Data: </p>
              <div id="data_displayed_container" class="">
              </div>
              <i id="add_data_btn" class="fas fa-plus-circle icon-btn"></i>
              <div id="data_delete_btn_container" class="">
              </div>
            </div>

            <div class="break">
            </div>

            <div id="filter_list" class="mb-0 p-0">
            </div>

            <div class="input btn-container">
              <button id="filterset_create" class="btn btn-outline-secondary btn-sm">Create List</button>
              <button id="export_excel_btn" class="btn btn-outline-secondary btn-sm">Export to Excel</button>
            </div>
          </div>

        </div>
      </div>
    </form>






    <div class="text-center mb-2">
      <div id="list_title">
      </div>

      <div id="delete_list_btn_container" class="d-inline-block">
      </div>
    </div>

    <div id="create_profile" class="pt-2 pb-2 border">
      <a href="create_profile/">+ Create Profile</a>
    </div>
    <ul class="list-group" id="result-list">
    </ul>



  </div>

{% endblock content %}

{% block js %}
<!-- Define global variables from template -->
  <script>
    var form_choices_text = JSON.parse("{{ form_choices_text_json|escapejs }}");
  </script>
  <script src="/static/members/js/profiles.js"></script>
{% endblock js %}
