{% extends 'members/base.html' %}
{% load members_tags %}

<!--------------- Nav Bar ------------------->

{% block app_tabs %}

<ul class="sub_tags bg-blue">
    <li><a class='text-white sub_tabs' href="{% url 'profiles' %}">Profiles</a></li>
    <li><a class='text-white sub_tabs' href="{% url 'profile-detail' object.pk %}">Profile Info</a></li>
    <li><a class='black sub_tabs' href="#">Edit Profile</a></li>
</ul>

{% endblock app_tabs %}

<!------------------------------------------->

{% block content %}

<!---------------------- Modal Popup ------------------>

<div class="modal fade" tabindex="-1" role="dialog" id="modal" aria-modal="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content popup">
        </div>
    </div>
</div>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="d-none">
      {{ form.image }}
    </div>

    {% include 'members/profile.html' with create=False update=True detail=False %}

</form>

<script type="text/javascript">

  $(document).ready(function() {

    $(".modal-trigger").each(function () {
      $(this).modalForm({formURL: $(this).data('id')});
    });

    $("#id_image").change(function() {
      readURL($(this)[0]);
     });
  });

  function readURL(input) {
    console.log("uploaded");
    console.log(input);
    console.log(input.files);
    console.log(input.files[0]);
    if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
            $('#profile_pic')
                .attr('src', e.target.result)
        };
        reader.readAsDataURL(input.files[0]);
    }
  }

</script>


{% endblock %}