<div id="header" class=" border-bottom">
    <div id="manage_title" class="">
        <h4>Administration</h4>
    </div>
</div>
<div id="content">

    <div id="admin_folders" class="folders">
        <div id="users_folder" class="folder">
            <div class="folder-header border-bottom">
                <h5 class="folder-header-text">Users</h6>
                <i class="pointer fas fa-caret-right"></i>
            </div>
            <div id="users_content" class="folder-content list-edit">
                <div class="content">
                    <ul id="users" class="data-list border-right">
                        {% for user in users %}
                        <li class="list-item"><p>{{ user.first_name }} {{ user.last_name }}</p></li>
                        {% endfor %}
                    </ul>
                </div>
                <div id="user_form_container" class="content hide form-container">
                </div>
                <div>
                    <ul id="users_options" class="options border-left">
                        <li data-url="{% url 'create-user' %}" class="option"><a href="#">Create User</a></li>
                    </ul>
                </div>
            </div>
        </div>


        <div id="chapters_folder" class="folder">
            <div class="folder-header border-bottom">
                <h5 class="folder-header-text">Chapters</h6>
                <i class="pointer fas fa-caret-right"></i>
            </div>
            <div id="chapters_content" class="folder-content list-edit">
                <div class="content">
                    <ul id="chapters" class="data-list border-right">
                        {% for chapter in sites %}
                        <li class="chapter list-item" data-pk="{{chapter.pk}}"><p><u>{{ chapter.str }}</u></p></li>
                        {% for site in chapter.sites %}
                        <li class="site list-item" data-pk="{{site.pk}}"><p>{{ site.str }}</p></li>
                        {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
                <div id="chapter_form_container" class="content hide form-container">
                </div>
                <div>
                    <ul id="chapter_options" class="options border-left">
                        <li data-url="{% url 'create-chapter' %}" class="option"><a href="#">Create Chapter</a></li>
                        <li data-url="{% url 'create-site' %}" class="option"><a href="#">Create Site</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>
