{% extends 'management/base.html' %}
{% load static %}

{% block app_tabs %}
<ul class="sub_tags bg-blue" xmlns:style="http://www.w3.org/1999/xhtml" xmlns:style="http://www.w3.org/1999/xhtml">
    <li class=""><a class="black sub_tabs" href="{% url 'management' %}">Management</a></li>
</ul>
{% endblock %}

{% block content %}


<div id="main_container" class="shadow container">
    <i id="menu_btn" class="fas fa-bars blacklink"></i>
    <div id="menu">
        <i class="fas fa-times back blacklink"></i>
        <h3>Manage</h3>
        {% include 'dashboard/site_select.html' with id='menu_site_select' type='radio' chapters=sites extra_options=extra_options %}
    </div>
    {% include 'management/admin.html' %}
</div>

{% include 'dashboard/modal.html' with id='modal' %}


{% endblock %}

{% block js %}
<script>
    var url_management = "{% url 'management' %}";
</script>
<script src="{% static 'management/js/management.js' %}"></script>
{% endblock %}
