<div id="link_modal" class="modal-container">
    <div class="modal">
        <div class="wrapper">
            <div class="header">
                <h6 class="ml-auto mr-auto">Attach Link</h6>
            </div>
            <div class="content-container">
                <table>
                    <tr>
                        <td>
                            <p class="label">Link Name:</p>
                        </td>
                        <td>
                            <input class="link-name" type="text">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="label">Link URL:</p>
                        </td>
                        <td>
                            <input class="link-url" type="text">
                        </td>
                    </tr>
                </table>
            </div>
            <div class="buttons">
                <button class="btn cancel btn-outline-secondary">Cancel</button>
                <button class="btn action btn-primary">Attach</button>
            </div>
        </div>
    </div>
</div>
