{% load static %}
<!DOCTYPE html>
<html>
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/main.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  </head>
  <body>

    <!-- Javascript -->
    <script src="{% static 'assets/js/jquery-3.4.1.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="{% static 'assets/js/bootstrap.js' %}"></script>
    <script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
    <script src="{% static 'dashboard/js/main.js' %}"></script>

    <header>

      <div id='cssmenu' class="">
        <ul class="d-inline-block">
          {% block tabs %}
          {% endblock tabs %}
        </ul>
        <div class="nav-right">
          {% if user.is_authenticated %}
          <a id="logout_btn" class="" href="{% url 'logout' %}">Logout</a>
          {% else %}
          <a id="login_btn" class="" href="{% url 'login' %}">Login</a>
          {% endif %}
          <h1 id="app_title" class="">Circles</h1>
        </div>
      </div>
      {% block app_tabs %}
      {% endblock app_tabs %}
    </header>

    <div class="alert-container">
      {% if messages %}
      {% for message in messages %}
          <div class="alert alert-{{ message.tags }}">
            {{ message }}
            <a href="#" class="close fas fa-times" data-dismiss="alert" aria-label="close"></a>
          </div>
      {% endfor %}
      {% endif %}
    </div>

    <!---------------- errors in form --------------------------->

    {% if form.errors %}
      {% for field in form %}
          {% for error in field.errors %}
              <div class="alert alert-danger">{{ field.label }}: {{ error|escape }}
                  <a href="#" class="close fas fa-times" data-dismiss="alert" aria-label="close"></a>
              </div>
          {% endfor %}
      {% endfor %}
      {% for error in form.non_field_errors %}
          <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
            <a href="#" class="close fas fa-times" data-dismiss="alert" aria-label="close"></a>
          </div>
      {% endfor %}
    {% endif %}

    <!------------------------------------------------------------>


      {% block content %}{% endblock %}

      {% block js %}{% endblock js %}
  </body>
</html>
