<div id="{{ id }}" class="color-select">
  <div class="colors">
    <div class="colors-wrapper">
      <a class="color icn" data-color="hsla(0.0, 93%, 64%, 0.3)"></a>
      <a class="color icn" data-color="hsla(033, 93%, 64%, 0.3)"></a>
      <a class="color icn" data-color="hsla(102, 93%, 64%, 0.3)"></a>
      <a class="color icn" data-color="hsla(211, 60%, 58%, 0.4)"></a>
      <a class="color icn" data-color="hsla(277, 93%, 64%, 0.3)"></a>
      <a class="color icn" data-color="hsla(318, 93%, 64%, 0.3)"></a>
    </div>
  </div>
  <i class="show-wrapper"></i>
</div>
