{% extends 'dashboard/base.html' %}
{% load crispy_forms_tags %}

<!--------------- Nav Bar ------------------->

{% block tabs %}
  {% if user.is_authenticated %}
    <li class='active'><a href="{% url 'dashboard' %}">Dashboard</a></li>
    <li><a href="{% url 'profiles' %}">Members</a></li>
    <li><a href="#">Meetings</a></li>
    <li><a href="#">Training</a></li>
    <li><a href="#">Progress</a></li>
  {% else %}
    <li class='active'><a href="{% url 'dashboard' %}">Dashboard</a></li>
  {% endif %}
{% endblock tabs %}

{% block app_tabs %}
  <div class="bg-red">
    <ul class="sub_tags">
      <li><a class='text-white sub_tabs' href="#">Dashboard</a></li>
    </ul>
  </div>
{% endblock app_tabs %}

<!------------------------------------------->

{% block content %}
    <div class="content-section shadow">
      <ul class="list-group">
        {% for post in posts %}
        <li class="list-group-item"></li>
        {% endfor %}
      </ul>
    </div>
{% endblock content %}
