{% extends 'dashboard/base.html' %}

<!--------------- Nav Bar ------------------->

{% block tabs %}
  {% include 'dashboard/tabs.html' with dashboard=True %}
{% endblock %}

{% block app_tabs %}
  <ul class="sub_tags bg-blue">
    <li><a class='sub_tabs blacklink' href="#">Dashboard</a></li>
  </ul>
{% endblock app_tabs %}

<!------------------------------------------->

{% block content %}
    <div class="content-section shadow">
      <ul class="list-group">
        {% for post in posts %}
        <li class="list-group-item"></li>
        {% endfor %}
      </ul>
    </div>
{% endblock content %}
