<div id="{{ id }}" class="date-picker">
    <span class="show-wrapper"></span>
    <p class="value">00/00/0000</p>
    <i class="date-select-btn blacklink far fa-calendar-alt" data-month_offset="0"></i>
    <div class="select-container">
        <div class="date-select">
            <div class="date-control">
                <div class="month-container">
                    <i class="previous text-small blacklink fas fa-chevron-left"></i>
                    <p class="month"></p>
                    <i class="next text-small blacklink fas fa-chevron-right"></i>
                </div>
                <p class="year"></p>
                <div class="day-labels">
                    <p class="day-label">SUN</p>
                    <p class="day-label">MON</p>
                    <p class="day-label">TUE</p>
                    <p class="day-label">WED</p>
                    <p class="day-label">THU</p>
                    <p class="day-label">FRI</p>
                    <p class="day-label">SAT</p>
                </div>
            </div>
            <div class="dates-container">
            </div>
        </div>
    </div>
</div>
