<div id="{{ id }}" class="date-picker">
    <p class="value">00/00/0000</p>
    <a href="#" class="date-select-btn blacklink far fa-calendar-alt" data-month_offset="0"></a>
    <div class="select-container">
        <div class="date-select">
            <div class="date-control">
                <div class="month-container">
                    <a href="#" class="previous text-small blacklink fas fa-chevron-left"></a>
                    <p class="month"></p>
                    <a href="#" class="next text-small blacklink fas fa-chevron-right"></a>
                </div>
                <p class="year"></p>
            </div>
            <div class="dates-container">
            </div>
        </div>
    </div>
</div>
