<div id="{{ id }}" class="modal-container">
    <div class="modal">
        <div class="wrapper">
            <div class="header">
                <h6 class="ml-auto mr-auto header-text"></h6>
            </div>
            <div class="content-container">
            </div>
            <div class="buttons">
                <button class="btn cancel btn-outline-secondary">Cancel</button>
                <button class="btn action btn-danger">Confirm</button>
            </div>
        </div>
    </div>
</div>
