<div class="time-select" id="{{ id }}">
  <div>
    <a href="#" class="start-hour fas fa-angle-up blacklink"></a>
    <p id="start_hour">00</p>
    <a href="#" class="start-hour fas fa-angle-down blacklink"></a>
  </div>
  <p class="time-break">:</p>
  <div>
    <a href="#" class="start-minute fas fa-angle-up blacklink"></a>
    <p id="start_minute">00</p>
    <a href="#" class="start-minute fas fa-angle-down blacklink"></a>
  </div>
  <span class="time-break"></span>
  <div>
    <a href="#" class="start-period fas fa-angle-up blacklink"></a>
    <p id="start_period">p.m.</p>
    <a href="#" class="start-period fas fa-angle-down blacklink"></a>
  </div>

  <span class="time-break"></span>
  <p class="time-break">-</p>
  <span class="time-break"></span>

  <div>
    <a href="#" class="end-hour fas fa-angle-up blacklink"></a>
    <p id="end_hour">00</p>
    <a href="#" class="end-hour fas fa-angle-down blacklink"></a>
  </div>
  <p class="time-break">:</p>
  <div>
    <a href="#" class="end-minute fas fa-angle-up blacklink"></a>
    <p id="end_minute">00</p>
    <a href="#" class="end-minute fas fa-angle-down blacklink"></a>
  </div>
  <span class="time-break"></span>
  <div>
    <a href="#" class="end-period fas fa-angle-up blacklink"></a>
    <p id="end_period">p.m.</p>
    <a href="#" class="end-period fas fa-angle-down blacklink"></a>
  </div>
</div>
