<div class="time-select" id="{{ id }}">
  <div>
    <i class="start-hour fas fa-angle-up blacklink"></i>
    <p class="start-hour">00</p>
    <i class="start-hour fas fa-angle-down blacklink"></i>
  </div>
  <p class="time-break">:</p>
  <div>
    <i class="start-minute fas fa-angle-up blacklink"></i>
    <p class="start-minute">00</p>
    <i class="start-minute fas fa-angle-down blacklink"></i>
  </div>
  <span class="time-break"></span>
  <div>
    <i class="start-period fas fa-angle-up blacklink"></i>
    <p class="start-period">p.m.</p>
    <i class="start-period fas fa-angle-down blacklink"></i>
  </div>

  <span class="time-break"></span>
  <p class="time-break">-</p>
  <span class="time-break"></span>

  <div>
    <i class="end-hour fas fa-angle-up blacklink"></i>
    <p class="end-hour">00</p>
    <i class="end-hour fas fa-angle-down blacklink"></i>
  </div>
  <p class="time-break">:</p>
  <div>
    <i class="end-minute fas fa-angle-up blacklink"></i>
    <p class="end-minute">00</p>
    <i class="end-minute fas fa-angle-down blacklink"></i>
  </div>
  <span class="time-break"></span>
  <div>
    <i class="end-period fas fa-angle-up blacklink"></i>
    <p class="end-period">p.m.</p>
    <i class="end-period fas fa-angle-down blacklink"></i>
  </div>
</div>
