#content_container {
    position: relative;
    overflow: auto;
    height: calc(100vh - max(8vh, 4vw));
}

#calendar_content {
    padding: 0 2rem 0 0;
    height: 95%;
}
#calendar_header {
    height: 15%;
}
#month_container {
    width: max(20vw, 130px);
}
#month_selector_container {
    display: flex;
}
#month_selector {
    margin: auto auto 0 auto;
}
#month_container h3 {
    font-size: max(3vw, 25px);
}
#year_container {
    position: relative;
}
#year_container p {
    position: relative;
    margin: 0;
    font-size: 16px;
    top: 30%;
}
#day_labels li {
    color: #979797;
    margin: auto;
    line-height: 230%;
}
#day_labels {
    text-align: center;
    padding: 0;
    margin: 0;
    height: 5%;
}

.calendar-day,
#day_labels li {
    display: inline-block;
    width: 14.28%;
}

#day_labels li {
    font-size: 12px;
}
#days_container {
    height: 80%;
}
.calendar-week {
    height: 16.666%;
    padding: 0;
    margin: 0;
    line-height: 1.0;
}

.calendar-day {
    position: relative;
    padding: 0;
    height: 100%;
    outline: 1px solid #dee2e6;
}
.monthnum {
    margin: 0;
    padding: calc(0.25vh + 0.25vw);
    float: right;
    margin: 0;
    font-size: calc(50% + 0.3vw);
}

.meetings-container {
    position: absolute;
    padding-bottom: 0.5vh;
    bottom: 0;
    width: 100%;
    max-height: 100%;
    overflow: auto;
}

.calendar-meeting {
    width: calc(30% + 7.5vw);
    padding: 0.3vh;
    margin: 0.2vh 0.2vw;
    background-color: hsla(360, 94%, 64%, 0.3);
    border-radius: 2px;
}

.calendar-meeting:hover {
  -webkit-box-shadow: 3px 3px 3px 3px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:   3px 3px 3px 3px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:        3px 3px 3px 3px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */

}

.meeting-description {
    margin: 0;
    font-size: calc(50% + 0.3vw);
    color: hsla(0, 100%, 40%, 1.0);
}

.spacer {
    visibility: hidden;
}

#meeting_info_container {
    position: absolute;
    left: -100%;
    bottom: 0;
    z-index: 1;
    height: 100%;
    width: 50vw;
    background-color: white;
    box-shadow: 0 0 0 999em rgba(0, 0, 0, 0.41);
    opacity: 0;
    transition: all 0.3s ease-in-out;
}
#meeting_info_container.show {
    opacity: 1;
    left: 0;
}
#meeting_back_btn {
    float: right;
}
