#content_container {
    position: relative;
    overflow: auto;
}

#calendar_content {
    position: relative;
    padding: 0 2rem 0 0;
    height: 95%;
    overflow: hidden;
}

#calendar_menu_btn {
    position: absolute;
    top: 6px;
    left: 10px;
}
#calendar_menu {
    position: absolute;
    z-index: 1;
    left: -700px;
    height: 100%;
    width: 35%;
    min-width: 358px;
    background-color: white;
    -webkit-box-shadow: 3px 3px 3px 3px #cccccc96;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:   3px 3px 3px 3px #cccccc96;  /* Firefox 3.5 - 3.6 */
    box-shadow:        3px 3px 3px 3px #cccccc96;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
    transition: all 0.3s ease-in-out;
}
#calendar_menu.show {
    left: 0;
}
#calendar_menu h3 {
    margin: 0.25rem 0.5rem;
}
#calendar_menu .site_select {
    position: relative;
}
#calendar_menu .site_select .chapter,
#calendar_menu .site_select .all {
    width: 50%;
    outline: 1px solid #dee2e6;
    font-size: calc(12px, 0.5vw);
}
#calendar_menu .site_select .all p {
    display: inline;
    font-size: calc(12px, 0.5vw);
}
#calendar_menu .site_select .chapter input,
#calendar_menu .site_select .all input{
    margin: 10px;
}
#calendar_menu .site_select .sites {
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
}
#calendar_menu .site_select .sites .site {
    width: 100%;
    outline: 1px solid #dee2e6;
}
#calendar_menu .site_select .sites input {
    margin: 5px;
}

#calendar_header {
    height: 15%;
}
#month_container {
    width: 20vw;
    min-width: 130px;
}
#month_selector_container {
    display: flex;
}
#month_selector {
    margin: auto auto 0 auto;
}
#month_container h3 {
    font-size: calc(20px + 1vw);
}
#year_container {
    position: relative;
}
#year_container p {
    position: relative;
    margin: 0;
    font-size: 16px;
    top: 30%;
}
#day_labels li {
    color: #979797;
    margin: auto;
    line-height: 230%;
}
#day_labels {
    text-align: center;
    padding: 0;
    margin: 0;
    height: 5%;
}
.calendar-day,
#day_labels li {
    display: inline-block;
    width: 14.28%;
}
#day_labels li {
    font-size: 12px;
}
#calendar_content .load-container {
    position: relative;
    height: 80%;
}
#calendar_content .loading {
    z-index: 1;
}
#days_container {
    height: 100%;
}
.calendar-week {
    height: 16.666%;
    padding: 0;
    margin: 0;
    line-height: 1.0;
}

.calendar-day {
    position: relative;
    padding: 0;
    height: 100%;
    outline: 1px solid #dee2e6;
}
#days_container .inactive {
    background-color: #0000001a;
}
.add-meeting-btn {
    font-size: calc(50% + 0.3vw);
    padding: calc(0.25vh + 0.25vw);
    float: left;
    visibility: hidden;
}
.calendar-day:hover .add-meeting-btn {
    visibility: visible;
}
.monthnum {
    margin: 0;
    padding: calc(0.25vh + 0.25vw);
    float: right;
    margin: 0;
    font-size: calc(50% + 0.3vw);
}

.meetings-container {
    position: absolute;
    padding-bottom: 0.5vh;
    bottom: 0;
    width: 100%;
    max-height: 100%;
    overflow: auto;
}
.calendar-meeting {
    width: calc(30% + 7.5vw);
    padding: 0.3vh;
    margin: 0.2vh 0.2vw;
    border-radius: 2px;
}

.meeting-description {
    margin: 0;
    font-size: calc(50% + 0.3vw);
}

.calendar-meeting:hover {
  -webkit-box-shadow: 3px 3px 3px 3px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:   3px 3px 3px 3px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:        3px 3px 3px 3px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */

}


.spacer {
    visibility: hidden;
}

#meeting_info_container {
    position: absolute;
    left: -100%;
    z-index: 3;
    height: 100%;
    width: 50vw;
    min-width: 180px;
    background-color: white;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
    border: 1px solid #dee2e6;
}
#meeting_info_container.show {
    opacity: 1;
    left: 0;
}
#meeting_info_container .loading {
    border-radius: 5px;
}

#meeting_form {
    align-items: center;
    flex-flow: column;
    height: 93%;
}
#meeting_submit_btn {
    margin-left: auto;
    margin-right: 6%;
}
#meeting_header {
    position: relative;
    padding-right: 40px;
    max-width: 100%;
}
#meeting_title_container {
    max-width: 100%;
    overflow-x: auto;
}
#meeting_title_container .container {
    position: relative;
    width: fit-content;
}
#type_select {
    position: absolute;
    visibility: hidden;
    z-index: 1;
    top: 100%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    min-width: 125px;
    height: fit-content;
    overflow: hidden;
}
#type_select .container {
    position: relative;
    bottom: 200px;
    display: flex;
    flex-flow: column nowrap;
    background-color: white;
    transition: all 0.2s ease-in-out;
}
#type_select .show {
    bottom: 0;
}
#type_select .type {
    border: 1px solid #dee2e6;
    text-align: center;
    padding: 0.5em;
}

#meeting_delete_btn {
    position: absolute;
    right: 0px;
    bottom: 10px;
}
.confirm-delete,
.modal {
    position: absolute;
    display: flex;
    flex-flow: row wrap;
    z-index: 4;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 20%;
    width: 25%;
    min-width: 220px;
    -webkit-box-shadow: 3px 5px 12px 0px #585454;
    -moz-box-shadow: 3px 5px 12px 0px #585454;
    box-shadow: 3px 5px 12px 0px #585454;
}
.confirm-delete h5 {
    text-align: center;
    width: 100%;
    padding: 1em 0.5em;
}
.confirm-delete .delete-btn {
    position: absolute;
    bottom: 0.5em;
    right: 3em;
    margin: 0.5em auto;
}
.confirm-delete .cancel-btn {
    position: absolute;
    bottom: 0.5em;
    left: 3em;
    margin: 0.5em auto;
}

#color_select {
    display: inline-block;
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 2px;
    bottom: 10px;
    right: 20px;
}
#colors {
    position: absolute;
    z-index: 1;
    top: 105%;
    left: -95%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 45px;
    height: 32px;
    padding: 4px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    background-color: white;
}
#colors .color {
    width: 10px;
    height: 10px
}


#id_start_time, #id_end_time, #id_attendance_lists,
#id_attendees, #id_color, #id_links {
    display: none;
}

#datetime_container {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin: 0.25em 0;
    width: 100%;
}
#date_container {
    position: relative;
    left: 10%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: 0.5em 0;
    margin: 0.5em;
    margin-right: 10%;
    border-radius: 5px;
}
#date_container:hover {
    -webkit-box-shadow: 3px 3px 3px 3px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:   3px 3px 3px 3px #ccc;  /* Firefox 3.5 - 3.6 */
    box-shadow:        3px 3px 3px 3px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
#date_container:hover #date_select_btn,
#date_container:hover #date_select {
    visibility: visible;
}
#date_select_btn {
    margin: auto 0.5em;
    float: right;
}
#date {
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
#date_container .date-spacer {
    visibility: hidden;
}
#date_container .date-spacer p,
#date,
#time_select p {
    font-size: calc(9px + 0.7vw);
    margin: 0;
}
#date_container .select-container {
    visibility: hidden;
    position: absolute;
    top: 100%;
    width: 100%;
    overflow: hidden;
}
#date_select {
    position: relative;
    text-align: center;
    width: 100%;
    bottom: 250px;
    transition: all 0.2s ease-in-out;
}
#date_select.show {
    bottom: 0;
}
#date_select .border {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    background-color: white;
    width: 100%;
}
#date_select_year, #date_select_month {
    text-align: center;
    margin: 3% auto;
    color: #838587;
    height: 5%;
    width: auto
}
#date_select .previous {
    position: absolute;
    left: -5px;
    top: 2px;
    padding: 5%;
    height: 15%;
    font-size: small
}
#date_select .next {
    position: absolute;
    right: -5px;
    top: 2px;
    padding: 5%;
    height: 15%;
    font-size: small;
}
#date_select_month {
    font-size: 18px;
    height: 10%;
}
#date_select .container {
    height: 20%;
}
#date_select .container .calendar-week {
    display: flex;
    height: 100%;
}
#date_select .container .calendar-week .calendar-day {
    display: flex;
    height: 30px;
}
#date_select .container .calendar-week .selected {
    background-color: hsla(209, 100%, 50%, 0.3);
}
#date_select .container .calendar-week .calendar-day:hover {
  -webkit-box-shadow: 3px 3px 3px 3px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:   3px 3px 3px 3px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:        3px 3px 3px 3px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
#date_select .container .calendar-week .inactive {
    opacity: 0.3;
}
#date_select .container .calendar-week .calendar-day .monthnum {
    padding: 0;
    margin: auto;
}


#time_select {
    display: flex;
    flex-flow: row;
    align-items: center;
    border-radius: 5px;
    padding: 0 1em;
}
#time_select div {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
}
#time_select .time-break {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: center;
    height: 100%;
    margin: 0 0.25em;
}
#time_select i {
    visibility: hidden;
    color: #a7a8ab;
    font-size: small;
}
#time_select:hover {
    -webkit-box-shadow: 3px 3px 3px 3px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:   3px 3px 3px 3px #ccc;  /* Firefox 3.5 - 3.6 */
    box-shadow:        3px 3px 3px 3px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
#time_select:hover i {
    visibility: visible;
}

#meeting_content {
    width: 90%;
    display: flex;
    flex-flow: column;
    flex-grow:1;
    padding:bottom: 15px;
}
#meeting_content .form-inputs {
    display: flex;
    justify-content: space-between;
}
#meeting_content p {
    font-size: calc(8px + 0.3vw);
    line-height: 30px;
}
#meeting_content .labels,
#meeting_content .fields {
    display: block;
    font-size: calc(8px + 0.3vw);
}
#meeting_content .labels > div {
    height: 35px;
    margin: 10px 0;
    vertical-align: center;
}
#meeting_content .labels p {
    font-size: calc(12px + 0.3vw);
}
#meeting_content .fields {
    width: 85%
}
#id_site, #id_location {
    display: block;
    margin: 8px;
    width: 100%;
    font-size: calc(12px + 0.3vw);
}

#id_notes {
    flex-grow: 1;
    resize: none;
}


#meeting_content .load-container {
    position: relative;
}
#meeting_content .spinner {
    height: 10px;
    width: 10px;
}
#file_input, #link_input {
    display: flex;
}
#file_input input {
    position: absolute;
    visibility: hidden;
}
#file_input .fa-file-upload,
#link_upload {
    margin-top: 8px;
}
#files, #links {
    display: flex;
    flex-flow: row wrap;
    max-height: 33px;
    overflow-y: auto;
}
#files label {
    margin: 0;
}
#files .file,
#links .link {
    display: flex;
    flex-flow: row;
    align-items: center;
    margin: 0.2em 0.5em;
    padding: 0.1em 0.5em;
    border: solid 1px #dee2e6;
    border-radius: 3px;
}
#files a,
#links a {
    font-size: 10px;
}
#files .delete,
#links .delete {
    color: #848484;
    font-size: small;
    margin: 5px 0px 3px 10px;
}

#link_modal {
    align-content: flex-start;
    height: 30%;
}
#link_modal .container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    height: 30%;
    margin: 2px 0;
}
#link_modal .container input {
    width: 50%;
}
#link_modal .container p {
    width: 25%;
}
#link_modal button {
    position: absolute;
}
#link_modal .upload-btn {
    bottom: 0.5em;
    right: 3em;
}
#link_modal .cancel-btn {
    bottom: 0.5em;
    left: 3em;
}

#meeting_submit_btn {
    position: absolute;
    bottom: 1%;
    left: 2%;
}

#attendance_btn {
    position: absolute;
    bottom: 1%;
    right: 2%;
}
#attendance_container {
    position: absolute;
    background-color: white;
    height: 100%;
    width: 25%;
    min-width: 187px;
    left: -100%;
    z-index: 2;
    transition: all 0.2s ease-in-out;
    border-radius: 5px;
}
#attendance_container.show {
    left: 50%;
}
#attendance_container .loading {
    border-radius: 5px;
}
#lists_container {
    position: relative;
    margin: 22px auto 0 auto;
    width: 80%;
}
#list_select {
    position: relative;
}
#attendance_container .lists {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    border-top: 1px solid #dee2e6;
    border-radius: 2px;
    max-height: 400px;
    overflow-y: auto;
}
#lists_container .list_container {
    display: flex;
    flex-flow: row nowrap;
    border-left: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    background-color: white;
    align-content: center;
    padding: 5px 0;
}
#attendance_container .list {
    display: flex;
    margin: 0;
    color: black;
}

#people_select {
    display: flex;
    flex-flow: row wrap;
    width: 90%;
    margin: 0 auto;
    max-height: 85%;
    overflow-y: auto;
}
#people_select .attendance-item {
    display: flex;
    width: 100%;
    padding: 0.5em;
    border: 1px solid #dee2e6;
}
#people_select a {
    margin: 0 0.5em;
}
