@import url(http://fonts.googleapis.com/css?family=Raleway);



body {
  background: #fafafa;
  color: #333333;
  line-height: 1;
}
header {
  display: flex;
  flex-flow: column wrap;
  height: 8vh;
  min-height: 50px;
  min-width: 350px;
}
#content_container {
  height: 92vh;
  min-height: 610px;
  min-width: 350px;
}
h1, h2, h3, h4, h5, h6{
  font-family: Raleway, sans-serif;
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 25px;
}
a {
  font-size: 12px;
}
p {
  font-size: calc(8px + 0.3vw);
  margin: 0;
}
a:hover{
  text-decoration: none;
  color: #444444;
}
::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 5px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 3px;
    height: 5px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #b6b6b6;
}
header a{
  font-family: Raleway, sans-serif;
  z-index: 2;
  font-weight: 400;
  text-decoration: none;
  color: #444444;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}
.bottom {
    margin-top: auto;
}
.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin: 1vh 2vw;
}
.blacklink{
  color:#000000;
}
.blacklink:hover{
  color:#000000;
}
.half {
  height: 50%
}



#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu {
  display: block;
  height: 50%;
  margin-top: auto;
  /*border-bottom: 3px solid hsl(230, 57%, 45%);*/
  font-family: Raleway, sans-serif;
  line-height: 1;
}
#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: inline-block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu > ul {
  height: 100%;
}
#cssmenu > ul > li {
  float: left;
  height: 100%;
  width: 12vw;
  min-width: 60px;
  text-align: center;
  display: flex;
}
#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu.align-right > ul > li {
  float: right;
}
#cssmenu.align-right > ul > li > a {
  margin-right: 0;
  margin-left: -4px;
}
#cssmenu > ul > li > a {
  height: 100%;
  width: 100%;
  display: flex;
}
#cssmenu > ul > li > a > p {
  margin: auto;
}
#cssmenu > ul > li.active > a,
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li:hover > a{
  color: #ffffff;
}
#cssmenu > ul > li:after {
  position: absolute;
  left: 0;
  bottom: -1px;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 120%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  content: "";
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-transform: perspective(5px) rotateX(2deg);
  -webkit-transform-origin: bottom;
  -moz-transform: perspective(5px) rotateX(2deg);
  -moz-transform-origin: bottom;
  transform: perspective(5px) rotateX(2deg);
  transform-origin: bottom;
}
#cssmenu > ul > li.active:after,
#cssmenu > ul > li:hover:after,
#cssmenu > ul > li:hover:after {
  background: #4989c7;
}
#cssmenu h2{
  float: right;
}
.nav-right {
  height: 100%;
  float: right;
  color: inherit;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.nav-right a,
.nav-right h1 {
  margin: 0 1vw;
}
#logout_btn {
    margin: auto 1vw auto 0;
    font-size: calc(8px + 0.3vw);
}
@media screen and (max-width: 550px) {
    #app_title {
        display: none;
    }
}
.nav-right:hover{
  color:inherit;
  text-decoration: none;
}
.alert{
  text-align: center;
  padding: 0.1rem 1.5rem;
  margin: 0;
  border-radius: 0;
}
.alert a {
  font-size: small;
  margin-top: 2px;
}
.close{
  line-height: 0.75;
}
/* */
.profile-title{
  z-index: 2;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  color: #444444;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}
.bg-blue{
  background: #4989c7;
}
.sub_tags{
  height: 40%;
  margin: 0;
  padding: 0 0.35vw;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  }
.sub_tags li{
  padding: 0;
  margin: 0 1.0vw;
  display: flex;
}
.sub_tags a {
  font-size: calc(8px + 0.2vw);
}
.profile-container{
  padding:1rem;
  margin-bottom:1rem;
  background-color: white;
}
.inactive{
  background-color:#00000069;
  opacity: .6;
}
.container{
  padding:0;
  background-color:white;
}
.blended{
  padding:0;
  background-color:#fafafa;
}
.blur{
  filter:blur(7px);
}
.hidden {
  visibility: hidden;
}
.middle{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.t-right {
  text-align: right;
}
.shadow {
  -webkit-box-shadow: 3px 5px 12px 0px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 5px 12px 0px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 5px 12px 0px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
.text-small{
  font-size:small;
}
.d-inline-block-notimportant {
  display: inline-block;
}
.break {
  width: 100%;
  height: 0;
}
.vertical-break {
  height: 100%;
  width: 0;
}
.expanding_input,
.expanding_size {
  margin: 0;
  padding: 1vw;
  border: 1px solid #ccc;
  box-radius: 3px;
  font-family: Raleway, sans-serif;
  font-size: calc(20px + 1vw);
}

.expanding_size {
  display: inline-block;
  visibility: hidden;
  white-space: pre;
}

.expanding_input {
  border: None;
  border-bottom: 1px solid #dee2e6;
  font-family: Raleway, sans-serif;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}
.expanding_input:focus {
  outline: none;
}
.flex {
    display: flex;
    flex-flow: row wrap;
}
.flex-center {
    margin: auto;
}
.rounded {
    border-radius: 2px;
}
.relative {
    position: relative;
}
.loading {
    background: url('spinner.gif') no-repeat center center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9999999;
    background-color: white;
}