@import url(http://fonts.googleapis.com/css?family=Raleway);



body {
  background: #fafafa;
  color: #333333;
}
h1, h2, h3, h4, h5, h6{
  font-family: Raleway, sans-serif;
}
header a{
  font-family: Raleway, sans-serif;
  z-index: 2;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  color: #444444;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}
a:hover{
  text-decoration: none;
  color: #444444;
}
.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin: 20px 50px;
}
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu {
  width: auto;
  /*border-bottom: 3px solid hsl(230, 57%, 45%);*/
  font-family: Raleway, sans-serif;
  line-height: 1;
}
#cssmenu > ul > li {
  float: left;
}
#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu.align-right > ul > li {
  float: right;
}
#cssmenu.align-right > ul > li > a {
  margin-right: 0;
  margin-left: -4px;
}
#cssmenu > ul > li > a {
  padding: 18px 25px 12px 25px;
  margin-right: -4px;
}
#cssmenu > ul > li.active > a,
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li > a:hover {
  color: #ffffff;
}
#cssmenu > ul > li > a:after {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 120%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  content: "";
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-transform: perspective(5px) rotateX(2deg);
  -webkit-transform-origin: bottom;
  -moz-transform: perspective(5px) rotateX(2deg);
  -moz-transform-origin: bottom;
  transform: perspective(5px) rotateX(2deg);
  transform-origin: bottom;
}
#cssmenu > ul > li.active > a:after,
#cssmenu > ul > li:hover > a:after,
#cssmenu > ul > li > a:hover:after {
  background: hsl(230, 57%, 45%);
}
#cssmenu h2{
  position: absolute;
  right:25px;
  top:3px;
}
.nav-right {
  position: absolute;
  right: 150px;
  top: 18px;
  color: inherit;
}
.nav-right:hover{
  color:inherit;
  text-decoration: none;
}
.alert{
  text-align: center;
  padding: 0.1rem 1.5rem;
}
.close{
  line-height: 0.75;
}
.profile-title{
  z-index: 2;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  color: #444444;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}
.bg-red{
  background: hsl(230, 57%, 45%)
}
.sub_tags{
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
}
.sub_tags li{
  display: inline;
  padding: 10px;
}
.blacklink{
  color:#000000;
}
.blacklink:hover{
  color:#000000;
}
.profile-container{
  padding:1rem;
  margin-bottom:1rem;
  background-color: white;
}
.inactive{
  background-color:#00000069;
  opacity: .6;
}
.container{
  padding:0;
  background-color:white;
}
.blended{
  padding:0;
  background-color:#fafafa;
}
.blur{
  filter:blur(7px);
}
.screen-middle{
  width: 30rem;
  height: 43.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -20rem;
  z-index: 1;
  }
.shadow {
  -webkit-box-shadow: 3px 5px 12px 0px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 5px 12px 0px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 5px 12px 0px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
.text-small{
  font-size:small;
}
.d-inline-block-notimportant {
  display: inline-block;
}


                      /*profile creation syles*/
/*text input styles*/
.inline-field .form-control{
  display:inline-block;
  width:100%;
  text-align:left;
  padding:3px 0px
}
.form-control{
  padding-top:4px;
  padding-bottom:4px;
}
.inline-field .form-control{
  display:inline;
  width:53%;
  text-align:left;
}
select.form-control:not([size]):not([multiple]) {
    height:30px;
}
.error{
  color:red;
  display:inline;
}
/*label styles*/
.profile-container label{
  margin-top:0.25rem;
  margin-right:5px;
}
.asteriskField{
  display:none;
}
                    /*profile detail styles*/
/*label styles*/
.field-label{
  margin-top:0.25rem;
  margin-bottom:8px;
}
.field-label-third{
  margin:4px 5px 8px 0px;
  display:inline-block;
}
/*Value styles*/
.field-value-container{
  padding:0px 15px;
}
.field-value-container-third{
  padding:4px 13px;
  display:inline-block;
  text-align:left;
}
.field-value-sub-container{
  padding:4px 13px
}
.field-value{
  margin-bottom:4px;
}

/*.scroll{
  height:15rem;
  overflow:auto;
} */

.inactive-slide {
  position: absolute;
  z-index:1;
  left:-100%;
  transition:1s;
  margin:0px;
}
.icon-btn {
  border:none;
  background:none;
  outline: none;
}
button:focus {
  outline:0;
}

            /*Profile Search Styles*/

#profile_search_content {
  overflow-y: scroll;
  height: 50rem;
}
#filter_by {
}
#filter_input {
}
#list_select {
  width : 50%;
  border: 1px solid #6c757d;
}
#result-list {
  height: 50rem;
}
#filter_submit {
  margin: 14px;
}
#list_select {
  width:80%;
}
#tool_btns_container button {
  vertical-align: top;
}
.tool-seperator {
  width:6%;
}
.tool-input {
  width:6rem;
}
#title_input {
  border: None;
  font-family: Raleway, sans-serif;
  font-size: 2rem;
}
#title_input:focus {
  outline:0;
}
#list_title {
  position:relative;
  display:inline-block;
}
.input,
.text {
  margin: 0;
  padding: 2px 10px;
  line-height: 32px;
  border: 1px solid #ccc;
  box-radius: 3px;
  height: 36px;
  font-family: Raleway, sans-serif;
  font-size: 2rem;
}

.text {
  padding-right: 20px;
  display: inline-block;
  visibility: hidden;
  white-space: pre;
}

.input {
  position: absolute;
  /*left:50%;
  transform:translate(-50%,0);*/
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}
